<mat-card class="chart-card2">
    <mat-card-title class="title">
        <mat-icon>bar_chart</mat-icon> {{title}}
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{subtitle}}
    </mat-card-subtitle>

    <div class="main-label">
        <p>Attempts Summary</p>
        <div class="legend">
            <div class="m-l-10 m-r-10">
                <span class="occupied"></span> Correct
            </div>
            <div class="m-l-10 m-r-10">
                <span class="available"></span> Wrong
            </div>
        </div>
    </div>
</mat-card>