<mat-card class="chart-card2">
    <mat-card-title class="title">
        <mat-icon>bar_chart</mat-icon> {{title}}
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        {{subtitle}}
    </mat-card-subtitle>
    <mat-card-content>
        <div id="chart">
           
        </div>
        <div class="table-responsive m-t-15">
            <table class="table align-items-center">
                <tbody>
                    <tr>
                        <td><i class="fa fa-circle col-cyan msr-2"></i> Quiz</td>
                        <td>23</td>
                        <td class="col-green">16</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-circle col-blue msr-2"></i>Questions</td>
                        <td>201</td>
                        <td class="col-green">188</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-circle col-orange msr-2"></i>Trivia</td>
                        <td>12</td>
                        <td class="col-orange">11</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>