aside{
    background-color: #151516;
}

/* Target your specific scrollable div */
.scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}

.scrollable-div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollable-div::-webkit-scrollbar-track {
  background: #0f172a;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
