.content-block {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    position: relative;
}

.board-footer {
    margin-top: auto;
    width: 100%;
    padding: 1rem 0.5rem;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.block-btn {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 16px auto;
}

@media (max-width: 600px) {
  .block-btn {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
    .board-footer {
        padding-bottom: env(safe-area-inset-bottom, 1rem);
    }
}
.flex-center{
    justify-content: center;
}
.matChipSmall{
    height: 24px!important;
}
::ng-deep .mat-mdc-tab-body-content {
    height: max-content;
    overflow: hidden!important;
}
.step-title {
  color: #0c52ad;
  display: contents;
  font-size: 14px;
  font-weight: 500;
}
.subjectLoader{
    min-width: min(90%, 360px);
}