@if(showContent){
<!-- <section class="content" [@slideInOut]> -->
<section class="content" [@fadeIn]>
  @if (loading || generatingQuiz) {
  <div class="overlay"></div>
  <div class="animToast loading">
    <img [src]="currentSubject ? currentSubject?.image : 'assets/images/icons/cube.gif'"
      class="image-pulse loadingIcon m-b-20">
    @if(generatingQuiz){
    <h6>Generating Quiz for {{currentSubject?.title}}</h6>
    }@else{
    <h5>{{loadingText}}</h5>
    }
    <h6>Please wait</h6>
    <!-- <p>display image once available: {{subjectData.image}} | {{subjectData.color}}</p> -->
  </div>
  }

  @if (!loading && !generatingQuiz && currentSubject) {
  <div class="content-block">
    <mat-tab-group mat-align-tabs="start" class="m-t-20">
      <mat-tab label="{{ currentSubject?.title }} Dashboard">
        <ng-container *ngTemplateOutlet="subjectDashboard"></ng-container>
      </mat-tab>
      <mat-tab label="Practice">
        <ng-container *ngTemplateOutlet="subjectTopics"></ng-container>
      </mat-tab>
      <mat-tab label="Achievements">
        <ng-container *ngTemplateOutlet="subjectGoals"></ng-container>
      </mat-tab>
    </mat-tab-group>

    <!-- <div class="row clearfix">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
      </div>
    </div> -->

    <ng-template #subjectDashboard>
      <div class="row m-t-10">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          @if(!subjectData?.isSubscribed){
          <p class="image-pulse">user is not subscribed</p>
          }
          <!-- <p>{{subjectData|json}}</p> -->
          <app-subject-performance-card [subject]="subjectData" (exploreSubject)="exploreSubject($event)"
            (enrollSubject)="enrollSubject($event)"></app-subject-performance-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <mat-card>
            <!-- <mat-card-header class="header-style">
              <img mat-card-avatar src="'assets/images/icons/badges/genius.png'">
               @if (currentSubject?.image) {
                <img mat-card-avatar [src]="currentSubject?.image" class="m-b-10">
               }
              <mat-card-title>Example Card Header with left icon and right icon</mat-card-title>
              <a mat-button color="primary" (click)="viewMeritList()">
                <i class="material-icons psr-2">trending_up</i>
              </a>
            </mat-card-header> -->
            <mat-card-content class="text-center">
              <!-- <img [src]="currentSubject?.image" class="text-center loadingIcon m-b-20"> -->
              <mat-card-title>Deep Dive {{currentSubject?.title}}</mat-card-title>
              <p class="m-t-10 font-14">CodeMerit offers plenty of conceptual and interactive assessments to level up
                your knowledge.</p>
            </mat-card-content>
            <mat-card-footer>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center"><i class="material-icons col-green psr-2">fast_forward</i>
                Begin Your Learning Journey.
              </p>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center"><i class="material-icons col-green psr-2">donut_small</i>
                Continuosly assess where You Stand.
              </p>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center"><i class="material-icons col-green psr-2">track_changes</i>
                Practice the Weak Areas
              </p>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center"><i class="material-icons col-green psr-2">verified_user</i>
                Unlock Badges and Priviledges
              </p>
              <div class="text-center p-t-20 p-b-20">
                <button mat-stroked-button color="primary" class="image-pulse"
                  (click)="launchSubjectQuiz(currentSubject)">
                  <!-- Test {{currentSubject?.title}} Skills -->
                  {{nextAction}}
                </button>
              </div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>

      @if(currentSubject && (subjectTopics$|async)?.length > 0){
      <div class="row m-t-20 m-b-20 clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <app-goal-path [title]="currentSubject.title+' Progress Tracker'" [color]="currentSubject.color"
            [topics]="subjectTopics$"></app-goal-path>
        </div>
      </div>
      }

      <div class="row m-t-20">
        @if(subjectData?.popularTopics){
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Popular Topics</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-chip-set aria-label="Tags">
                @for(topic of subjectData.popularTopics;track topic){
                <mat-chip>{{topic.title}}
                  <!-- <span class="badge col-purple">{{topic.votes}}</span> -->
                </mat-chip>
                }
              </mat-chip-set>
              <div class="text-center p-t-20 p-b-20">
                <button mat-stroked-button color="primary" (click)="goToSubjects()">View All Subjects</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        }
      </div>
    </ng-template>

    <ng-template #subjectTopics>
      @if(subjectData?.syllabus && subjectData?.syllabus.length > 0){
      <div class="text-center">
        <h4 class="text-center m-t-20 m-b-0">
          Get Started with {{ currentSubject?.title }}
        </h4>
        <small class="m-t-0 m-b-10"> {{ subjectData?.syllabus.length }} Milestones to level up the {{
          currentSubject?.title }} skills</small>
      </div>
      <hr class="dim-divider">
      <app-topics-list [subjectTopics]="subjectData?.syllabus" (topicExplore)="onTopicExplore($event)"
        (topicQuiz)="onTopicQuiz($event)"></app-topics-list>
      }@else{
      <mat-card class="card text-center m-t-20 m-b-20" appearance="outlined">
        <mat-card-content class="text-center no-results">
          <mat-card-title><span [ngStyle]="{'background-color':currentSubject.color}"></span>{{ currentSubject?.title }}
            Practice Path</mat-card-title>
          <h6 class="font-15 m-t-0 col-grey">The Curriculum for {{currentSubject?.title}} is not available at this
            moment.</h6>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="icon-button">
            <mat-icon>thumb_up</mat-icon> Vote for {{currentSubject?.title}}</button>
        </mat-card-actions>
      </mat-card>
      }
    </ng-template>

    <ng-template #subjectGoals>
      <div class="row m-t-10 clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <mat-card>
            <mat-card-header class="header-style">
              <mat-card-title>Achievements & Badges</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ng-scrollbar style="height: 400px" visibility="hover">
                <app-recent-comments [achievements]="achievements"></app-recent-comments>
              </ng-scrollbar>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <mat-card>
            <mat-card-header class="header-style">
              <!-- <img mat-card-avatar src="{{topic.image}}"> -->
              <mat-card-title>Who’s Leading in {{currentSubject?.title}}?</mat-card-title>
              <a mat-button color="primary" (click)="viewMeritList()">
                <i class="material-icons col-green psr-2">trending_up</i>
              </a>
            </mat-card-header>
            <mat-card-content>
              <app-merit-list-widget [meritList]="subjectData?.meritList"></app-merit-list-widget>
            </mat-card-content>
            <mat-card-footer>
              <p class="m-b-0 font-12 d-flex flex-center"><i class="material-icons col-green psr-2">trending_up</i>
                Top Performers in {{currentSubject?.title}}
              </p>
              <hr class="dim-divider">
              <div class="text-center p-t-20 p-b-20">
                <button mat-stroked-button color="primary" (click)="launchSubjectQuiz(currentSubject)">
                  Take {{currentSubject?.title}} Quiz
                </button>
              </div>
            </mat-card-footer>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <h4 class="text-center m-b-10">Challenge Yourself</h4>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center">
                <i class="material-icons col-green psr-2">question</i>
                Level Wise Conceptual Questions
              </p>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center">
                <i class="material-icons col-green psr-2">info</i>
                Interactive Mode for Learning
              </p>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center">
                <i class="material-icons col-green psr-2">track</i>
                Track your detailed Progress
              </p>
              <div class="text-center p-t-20 p-b-20">
                <button mat-stroked-button color="primary" (click)="launchSubjectQuiz(currentSubject)">
                  Start {{currentSubject?.title}} Quiz
                </button>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content class="text-center">
              <img [src]="currentSubject ? currentSubject?.image : 'assets/images/icons/cube.gif'"
                class="image-pulse loadingIcon m-b-20">
              <h4 class="text-center m-b-10">{{currentSubject?.title}} Certification</h4>
              <hr class="dim-divider">
              <p class="m-b-0 font-12 d-flex flex-center"><i class="material-icons col-green psr-2">extension</i>
                Complete your {{currentSubject?.title}} milestones to generate your digital certicate.
              </p>
              <hr class="dim-divider">
              <div class="text-center p-t-20 p-b-20">
                <button mat-stroked-button color="primary" (click)="launchSubjectQuiz(currentSubject)">
                  Download Certification
                </button>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </ng-template>
  </div>
  }
</section>
}