.flex-center{
    justify-content: center;
}
.matChipSmall{
    height: 24px!important;
}
::ng-deep .mat-mdc-tab-body-content {
    height: max-content;
    overflow: hidden!important;
}
.step-title {
  color: #0c52ad;
  display: contents;
  font-size: 14px;
  font-weight: 500;
}
.subjectLoader{
    min-width: min(90%, 360px);
}