<mat-nav-list>
  <div mat-list-item (click)="shareOnlyText()">
    <span mat-line>Share Result</span>
    <span mat-line>Text Only</span>
    <hr class="dim-divider">
  </div>
  <div mat-list-item (click)="shareWithHtml2Canvas()">
    <span mat-line>Share Result</span>
    <span mat-line>Share with Html2Canvas</span>
    <hr class="dim-divider">
  </div>
  <div mat-list-item (click)="shareWithDomToImage()">
    <span mat-line>Share Result</span>
    <span mat-line>Share with shareWithDomToImage</span>
    <hr class="dim-divider">
  </div>
  <div mat-list-item (click)="shareWithDomToImage()">
    <span mat-line>Share Result</span>
    <span mat-line>Share with shareWithDomToImage</span>
    <hr class="dim-divider">
  </div>
</mat-nav-list>