<div class="social-share-container">
<h5><mat-icon>share</mat-icon> Share Your Achievement</h5>
<mat-nav-list>
  <div mat-list-item (click)="shareOnlyText()">
    <h6 class="m-b-0">Share Result</h6>
    <span class="font-12 m-t-0">Share Text Only</span>
    <hr class="dim-divider">
  </div>
  <div mat-list-item (click)="shareWithHtml2Canvas()">
    <h6 class="m-b-0">Share Result</h6>
    <span class="font-12 m-t-0">Share Image + Link with Html2Canvas</span>
    <hr class="dim-divider">
  </div>
  <div mat-list-item (click)="shareWithDomToImage()">
    <h6 class="m-b-0">Share Result</h6>
    <span class="font-12 m-t-0">Share Image + Link with DomToImage</span>
    <hr class="dim-divider">
  </div>
</mat-nav-list>
</div>