@if(showContent){
<section class="content" [@slideInOut]>
  <div class="content-block">
    <div class="row m-t-10 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h6 class="text-center m-b-0">Pick an aspiring job role or</h6>
          <h5 class="text-center m-t-0">Select your Designation</h5>
           <hr class="dim-divider">
      </div>
    </div>
    <app-course-picker [minimal]="false" (subjectSelected)="onCourseChange($event)"
            (onSubscribe)="onSubscribe($event)"></app-course-picker>
  </div>
</section>
}