<div class="card">
    <div class="body">
        <div class="row align-items-center">
            <div class="col-md-8 mb-0">
                <div class="font-b-500 font-25 col-blue mb-2">{{ isVisitor ? 'Onboard. Upskill. Achieve' : 'Upskill & Achieve'}}
                </div>
                <p class="font-b-500 mb-4">Kickstart your journey 🚀 Rate your skills, take a quick test, and start leveling up toward your full-stack career. </p>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-4">
                        <div class="p-15 m-20 card-1"><span class="font-b-500">What you want to become?</span>
                            <h5 class="mb-0 text-primary">Select Program </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="p-15 m-20 card-2"><span class="font-b-500">Let us analyze your skills</span>
                            <h5 class="mb-0 text-danger">Initial Assessment </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="p-15 m-20 card-3"><span class="font-b-500">Prepare for aspiring job</span>
                            <h5 class="mb-0 text-success">Achieve Goals</h5>
                        </div>
                    </div>
                    <div>
                        <button mat-flat-button class="adminBtn" (click)="login()">
                           Start Your Free Onboarding <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <div class="animSvg" style="width:100%;height:300px;"></div>
                <!-- <img src="assets/images/pages/onboard.svg" alt="" class="w-100 image-top">
                 <img src="assets/images/pages/3.svg" alt="" class="w-100 image-top"> -->
            </div>
        </div>
    </div>
</div>