<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <label class="hoverable">
        <img [src]='topicImage' alt="avatar">
      </label>
      <div class="modalTitle">
        {{dialogTitle}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="topicForm" (ngSubmit)="submit()">
      
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Topic Name</mat-label>
              <input matInput formControlName="title" required placeholder="Name of the topic">
              <!-- <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon> -->
              @if (topicForm.get('title')?.hasError('minLength')) {
              <mat-error>
                Topic title is too short
              </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Select Subject</mat-label>
              <mat-select formControlName="subjectId">
                @for (subject of subjects; track subject) {
                <mat-option value="{{subject.id}}">{{subject.title}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Topic Level</mat-label>
              <mat-select formControlName="label">
                <mat-option value="Beginner">Beginner</mat-option>
                <mat-option value="Intermediate">Intermediate</mat-option>
                <mat-option value="Advanced">Advanced</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-checkbox class="example-margin" formControlName="isPublished">Make this topic available
            </mat-checkbox>
          </div>
        </div>

         <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-checkbox class="example-margin" formControlName="hideOtherFields" checked>Keep other optional fields default
            </mat-checkbox>
          </div>
        </div>

<!-- Other Fields -->
        @if (!topicForm.get('hideOtherFields')?.value) {
 <div class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" required
                placeholder="Short description of topic"></textarea>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Parent Topic for this Sub-Topic</mat-label>
              <mat-select formControlName="parent">
                <mat-option>-- None --</mat-option>
                @for (group of topicGroups; track group) {
                <mat-optgroup [label]="group.title">
                  <mat-option [value]="group.title">
                    {{group.title}}
                  </mat-option>
                </mat-optgroup>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Order</mat-label>
              <input matInput formControlName="order" type="number" min="0" max="99" maxlength="2"
                (keydown)="restrictInput($event)" placeholder="Serial no. for sequence">
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Weight</mat-label>
              <input matInput formControlName="weight"
                (keydown)="restrictInput($event)" placeholder="% coverage in subject">
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Popularity</mat-label>
              <input matInput formControlName="popularity" (keydown)="restrictInput($event)"
                placeholder="Extra sorting index">
            </mat-form-field>
          </div>
        </div>
        }

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <button mat-flat-button class="btn-space" color="primary" [disabled]="!topicForm.valid">Submit</button>
            <button mat-raised-button color="warn" (click)="topicForm.reset()">Cancel</button>
          </div>
        </div>
        <!-- <p>{{ topicForm.value | json }}</p> -->
    </form>
  </div>
</div>