@if (!completed) {
<div class="auth-container">
  <div class="auth-main">
    <div class="quiz-container d-flex flex-column vh-100">
      @if (loading) {
      <div class="overlay"></div>
      <div class="animToast quizLoader loading">
        <img src="assets/images/icons/cube.gif" class="loadingIcon">
        <h5>{{loadingText}}</h5>
        <h6>Please wait</h6>
      </div>
      }
      <!-- HEADER -->
      @if (!loading && quiz) {
      <mat-toolbar color="primary" class="toolbar justify-content-between" [class.warning]="warningActive">
        <div class="d-flex align-items-center">
          @if (quiz.image) {
          <img [src]="quiz.image" alt="icon" class="subject-icon me-2">
          }
          <span class="quiz-title">{{ quiz.title }}</span>
        </div>

        <div class="d-flex align-items-center">
          <img src="assets/images/icons/ic_watch.png" class="timerIcon" alt="timer">

          <cd-timer #timerRef [countdown]="true" [startTime]="quizDuration" [omitZero]="true" maxTimeUnit="minute"
            [autoStart]="true" [callTick]="true" format="ms" (onTick)="onTick($event)" (onComplete)="onTimerComplete()">
          </cd-timer>
        </div>
        <!-- #Task3: Display Progressbar here that shows time left in each question -->
      </mat-toolbar>
      <p>{{quizConfig | json}}</p>
      }

      <!-- Screen Overlay -->
      @if (showWarningToast) {
      <div class="overlay"></div>
      <div class="animToast warning">
        <h5>⚠️ 1 Minute Left!</h5>
      </div>
      }

      <!-- Screen Overlay -->
      @if (hintActive) {
      <div class="overlay"></div>
      <div class="animToast quizLoader hint">
        <!-- <img src="assets/images/icons/hinting.gif" class="hint-icon" alt="hint"> -->
        <h6>{{currentHint}}</h6>
        <hr class="dim-divider">
        <button mat-raised-button color="accent" (click)="hideHint()">
          Okay
        </button>
      </div>
      }

      <!-- Screen Overlay -->
      @if (answerActive) {
      <div class="overlay"></div>
      <div class="animToast text-start quizLoader hint">
        <p class="font-14 col-indigo m-b-0">Question:</p>
        <h6 class="col-indigo m-t-0">{{currentQuestion?.question}}</h6>
        <p class="font-14">Answer:</p>
        <p class="cmSubHeading m-t-0">{{currentQuestion?.answer}}</p>
        <hr class="dim-divider">
        <button mat-raised-button color="primary" class="text-center" (click)="hideAnswer()">
          <mat-icon>keyboard_arrow_left</mat-icon> Got It
        </button>
      </div>
      }

      <!-- MAIN SWIPER CONTENT -->
      <!-- #Task4: Display topic and level of question inside quiz window -->
      @if (!loading) {
      <div class="flex-grow-1 overflow-hidden">
        @if (questions?.length > 0) {
        <swiper-container #swiperEx slides-per-view="1" space-between="10" allow-touch-move="false" class="h-100">

          @for (question of questions; track question.id) {
          <swiper-slide>

            <p class="col-grey text-center m-t-20 m-b-10">{{$index+1}} of {{questions?.length}}</p>
            <div class="question-card">
              @if (question.title) {
              <h5 class="mb-3">{{ question.title }}</h5>
              }
              @if (isCodeQuestion(question.question)) {
              <small>Read the question carefully and answer.</small>
              <div class="question m-b-10">
                <pre><code>{{question.question}}</code></pre>
              </div>
              }@else {
              <div class="question m-b-20" [innerHTML]="question?.question | safe:'html'"></div>
              }

              @if (question?.topicsArr && question?.topicsArr.length > 0) {
              <div class="list-group-item m-b-20">
                @for (topic of question?.topicsArr; track topic) {
                <!-- bg-pink col-indigo -->
                <span class="badge col-indigo">{{topic}}</span>
                }
              </div>
              }
              @for (choice of question.options; track choice) {
              <mat-card (click)="optionSelected($event, choice.id, question)" class="choice p-2 rounded mb-2" [ngClass]="{
         'selected': question.selectedOption === choice.id,
         'correct': quizConfig.mode === 'Interactive' && question.selectedOption === choice.id && choice.correct,
         'wrong': quizConfig.mode === 'Interactive' && question.selectedOption === choice.id && !choice.correct
       }">
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{ choice.option }}</span>

                  @if (quizConfig.mode === 'Interactive' && question.selectedOption === choice.id && choice.correct) {
                  <img src="assets/images/icons/ic_correct.png" class="icon-right">
                  }
                  @if (quizConfig.mode === 'Interactive' && question.selectedOption === choice.id && !choice.correct) {
                  <img src="assets/images/icons/ic_wrong.png" class="icon-wrong">
                  }
                </div>
              </mat-card>
              }

              <!-- Celebration container -->
              <app-celebration [trigger]="celebrationTrigger" [marks]="question.marks"
                (animationDone)="onCelebrationFinished()"></app-celebration>
            </div>
          </swiper-slide>
          }
        </swiper-container>
        }
      </div>
      }

      <!-- FOOTER -->
      @if (!loading) {
      <mat-toolbar color="accent" class="footer-toolbar">
        <div class="footer-actions">

          <!-- Prev -->
          @if (quizConfig.enableNavigation && currentQuestionId > 0) {
          <ng-container>
            <button mat-flat-button color="warn" (click)="onSlidePrev()">
              <mat-icon>keyboard_arrow_left</mat-icon>
              Prev
            </button>
          </ng-container>
          }

          <!-- Hint -->
          @if (quizConfig.showHint && currentQuestion?.hint !== "") {
          <ng-container>
            <button mat-raised-button color="accent" (click)="showHint()">
              <mat-icon>live_help</mat-icon> Hint
            </button>
          </ng-container>
          }

          <!-- Answer -->
          @if (quizConfig.showAnswers && currentQuestion?.answer !== "") {
          <ng-container>
            <button mat-raised-button color="accent" (click)="showAnswers()">
              Answer <mat-icon>lock</mat-icon>
            </button>
          </ng-container>
          }

          <!-- Next / Finish -->
          <button mat-flat-button color="primary" (click)="onSlideNext()">
            <mat-icon>keyboard_arrow_right</mat-icon>
            {{ currentQuestionId === questions.length - 1 ? 'Finish' : 'Next' }}
          </button>

        </div>
      </mat-toolbar>
      }
    </div>
  </div>
</div>
}

@if (completed) {
<div class="quiz-result-container">
  <div class="content-block">
    <div class="overlay"></div>
    <div class="animToast quizLoader hint">
      <img src="assets/images/icons/loading.gif" class="loadingIcon" alt="hint">
      <h4>Evaluating Quiz</h4>
      <h6 class="col-grey">Please wait while evaluation is in progress</h6>
    </div>
  </div>
</div>
}