@if (!completed) {
<div class="auth-container">
  <div class="auth-main">
    <div class="quiz-container d-flex flex-column vh-100">
      @if (loading) {
      <div class="overlay"></div>
      <div class="animToast loading">
        <img src="assets/images/icons/cube.gif" class="loadingIcon">
        <h4>{{loadingText}}</h4>
        <h5>Please wait ...</h5>
      </div>
      }

      <!-- HEADER -->
      @if (!loading && quiz) {
      <mat-toolbar color="primary" class="toolbar justify-content-between" [class.warning]="warningActive">
        <div class="d-flex align-items-center">
          <img [src]="quiz.subject_icon" alt="icon" class="subject-icon me-2">
          <span class="quiz-title">{{ quiz.title }}</span>
        </div>

        <div class="d-flex align-items-center">
          <img src="assets/images/icons/ic_watch.png" class="timerIcon" alt="timer">

          <cd-timer #timerRef [countdown]="true" [startTime]="quizDuration" [omitZero]="true" maxTimeUnit="minute"
            [autoStart]="true" [callTick]="true" format="ms" (onTick)="onTick($event)" (onComplete)="onTimerComplete()">
          </cd-timer>
        </div>
      </mat-toolbar>
      }

      <!-- Screen Overlay -->
      @if (showWarningToast) {
      <div class="overlay"></div>
      <div class="animToast warning">
        <img src="assets/images/icons/hinting.gif" class="hint-icon text-center" alt="hint">
        <h5>⚠️ 1 Minute Left!</h5>
      </div>
      }

      <!-- Screen Overlay -->
      @if (hintActive) {
      <div class="overlay"></div>
      <div class="animToast hint">
        <img src="assets/images/icons/hinting.gif" class="hint-icon" alt="hint">
        <h5>{{currentHint}}</h5>
        <button mat-raised-button color="accent" (click)="hideHint()">
          Okay
        </button>
      </div>
      }

      <!-- MAIN SWIPER CONTENT -->
      @if (!loading) {
      <div class="flex-grow-1 overflow-hidden">
        @if (questions?.length > 0) {
        <swiper-container #swiperEx slides-per-view="1" space-between="10" allow-touch-move="false" class="h-100">

          @for (question of questions; track question.id) {
          <swiper-slide>
            <!-- <p>{{question | json }}</p> -->
            <div class="question-card">
              <h3 class="mb-3">{{ question.title }}</h3>

              @for (choice of question.choices; track choice) {
              <mat-card (click)="optionSelected(choice, question)" class="choice p-2 rounded mb-2" [ngClass]="{
         'selected': question.selectedChoice === choice,
         'correct': question.selectedChoice === choice && choice === question.correctAnswer,
         'wrong': question.selectedChoice === choice && choice !== question.correctAnswer
       }">
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{ choice }}</span>

                  @if (question.selectedChoice === choice && choice === question.correctAnswer) {
                  <img src="assets/images/icons/ic_correct.png" class="icon-right">
                  }
                  @if (question.selectedChoice === choice && choice !== question.correctAnswer) {
                  <img src="assets/images/icons/ic_wrong.png" class="icon-wrong">
                  }
                </div>
              </mat-card>
              }

            </div>
          </swiper-slide>
          }
        </swiper-container>
        }
      </div>
      }

      <!-- FOOTER -->
      @if (!loading) {
      <mat-toolbar color="accent" class="footer-toolbar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4 text-start">
              @if (currentQuestionId > 0) {
              <button mat-flat-button color="warn" (click)="onSlidePrev()"><mat-icon>keyboard_arrow_left</mat-icon>
                Prev</button>
              }
            </div>
            <div class="col-4 text-center">
              <button mat-raised-button color="accent" (click)="showHint()">
                <mat-icon>live_help</mat-icon> Hint</button>
            </div>
            <div class="col-4 text-end">
              <button mat-flat-button color="primary" (click)="onSlideNext()">
                <mat-icon>keyboard_arrow_right</mat-icon> {{ currentQuestionId === questions.length - 1 ? 'Complete' :
                'Next' }}
              </button>
            </div>
          </div>
        </div>
      </mat-toolbar>
      }
    </div>
  </div>
</div>
}

@if (completed) {
<div class="quiz-result-container">
  <div class="content-block">
    @if (!evaluated) {
    <div class="overlay"></div>
    <div class="animToast hint">
      <img src="assets/images/icons/loading.gif" class="loadingIcon" alt="hint">
      <h4>Evaluating Quiz</h4>
      <h6 class="col-grey">Please wait while your assessment is in progress</h6>
    </div>
    }
    @if (evaluated) {
    <app-quiz-result [result]="quizResult"></app-quiz-result>
    }
  </div>
</div>
}