<mat-card>
  @if(subject?.isSubscribed){
  <mat-card-header>
    <mat-card-title>{{subject.isSubscribed ? 'Learning ' : 'Learn '}} {{subject.title}}</mat-card-title>
  </mat-card-header>
  }
  <mat-card-content>
    <div class="row">
      @if (subject?.isSubscribed) {
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <apx-chart [series]="cardChartOptions.series!" [chart]="cardChartOptions.chart!"
          [plotOptions]="cardChartOptions.plotOptions!" [colors]="cardChartOptions.colors!"
          [labels]="cardChartOptions.labels!" />
        <div class="main-label text-center">
          <h6 class="scoreText m-t-0">Overall Score</h6>
          <h6 class="text-danger">Rank #7</h6>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <ul class="list-unstyled">
          <li>
            <div class="mb-2">
              <span class="progress-label">Score</span>
              <span class="float-end progress-percent label m-b-5" [ngClass]="'bg-dark text-white'">{{ subject.score
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar" [ngClass]="'bg-dark'" [style.width]="subject.score + '%'" role="progressbar"
                [attr.aria-valuenow]="subject.score" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li>
            <div class="mb-2">
              <span class="progress-label">Coverage</span>
              <span class="float-end progress-percent label m-b-5" [ngClass]="'bg-dark text-white'">{{ subject.coverage
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar" [ngClass]="'bg-dark'" [style.width]="subject.coverage + '%'" role="progressbar"
                [attr.aria-valuenow]="subject.coverage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
      }@else {
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="text-center">
          <img src="{{subject.image}}" class="subject-img" alt="{{subject.title}}" />
          <h5>{{subject.title}}</h5>
          <mat-card-title>Learn {{subject.description}}</mat-card-title>
          <p>Enroll into {{subject.title}} to start levelling up your skills.</p>
        </div>
      </div>
      }
    </div>
  </mat-card-content>
  <mat-card-footer>
      @if (subject?.isSubscribed) {
      <p class="text-center m-b-0 font-12 d-flex justifyCenter flex-center"><i class="material-icons col-green psr-2">trending_up</i>
        Take more quizzes to improve your score
      </p>
      <div class="text-center p-t-20 p-b-20">
        <button mat-stroked-button color="primary" class="image-pulse" (click)="goToSubjects()">Take Mock Exam</button>
      </div>
      }@else{
      <p class="m-b-0 font-12 d-flex flex-center justifyCenter"><i class="material-icons col-green psr-2">trending_up</i>
        Level up your {{subject.title}} skills.
      </p>
      <div class="text-center p-t-20 p-b-20">
        <button mat-stroked-button color="primary" (click)="goToSubjects()">Start Learning</button>
      </div>
      }
    </mat-card-footer>
</mat-card>