<section class="content">
  <div class="content-block">
    <div class="block-header m-t-20 m-b-20">
      <h1 class="align-center font-32 m-t-20">Up-Skilling & Work Experience
      </h1>
      <h4 class="align-center font-15">At Code Merit, we're passionate about building a virtual workplace that empowers tech enthusiasts through an engaging, supportive, and collaborative environment.</h4>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="demo m-t-20">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="pricingTable greenColor">
                  <div class="pricingTable-header">
                     <img class="iconImg" src="assets/images/icons/merit.png">
                    <div class="price-value">
                      <span class="month">Free Plan</span>
                    </div>
                  </div>
                  <h3 class="heading">Basic</h3>
                  <div class="pricing-content">
                    <ul>
                      <li>
                        <b>Access</b> to Free Quizzes
                      </li>
                      <li>
                        <b>1 On-Demand Mock Interview</b>
                      </li>
                      <li>
                        Multi Level <b>Skill Assessment</b>
                      </li>
                      <li>
                        <b>3+</b> Certifications
                      </li>
                      <li>
                        <b>Unlock more by Engaging</b>
                      </li>
                    </ul>
                  </div>
                  <div class="pricingTable-signup" (click)="signUp()">
                    <a href="#">sign up</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="pricingTable blueColor">
                  <div class="pricingTable-header">
                    <img class="iconImg" src="assets/images/icons/certificate.png">
                  </div>
                  <h3 class="heading">PREMIUM</h3>
                  <div class="pricing-content">
                    <ul>
                      <li>
                        <b>Full Access to</b> Quiz
                      </li>
                      <li>
                        Unlock all <b>Certifications</b>
                      </li>
                      <li>
                       Up to <b>3</b> Mock Interviews
                      </li>
                      <li>
                        Other Rewards & Recognitions
                      </li>
                    </ul>
                  </div>
                  <div class="pricingTable-signup">
                    <a href="#">sign up</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="pricingTable redColor">
                  <div class="pricingTable-header">
                    <img class="iconImg" src="assets/images/icons/upgrade.png">
                    <div class="price-value">
                      <span class="month">Internship Offer for selected candidates</span>
                    </div>
                  </div>
                  <h3 class="heading">TEAM</h3>
                  <div class="pricing-content">
                    <ul>
                      <li>
                        <b>6 Months</b> of Work Experience
                      </li>
                      <li>
                        <b>Teams</b> Email Account & Workspace Setup
                      </li>
                      <li>
                        <b>Real-Time</b> Project Collaboration
                      </li>
                      <li>
                        <b>Job Interviews</b> Support
                      </li>
                    </ul>
                  </div>
                  <div class="pricingTable-signup">
                    <a href="#">sign up</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>