<div class="card-block">
  @if (loading) {
   <div class="no-data-container text-center">
    <img src="assets/images/icons/loading.gif" class="smallLoadingIcon m-t-20" />
    <h5 class="col-grey">{{loadingTxt}}</h5>
    <small>Please wait</small>
  </div>
  }@else {
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="text-center">
        <img src="assets/images/users/user.jpg" class="userProfile" />
        <h5>{{courseItem.title}}</h5>
        <!-- <h6>{{courseItem | json}} </h6> -->
        <p class="font-12">Set your goal as {{courseItem.title}} to start a comprehensive skill assessment journey.</p>
        <hr class="dim-divider">
        <!-- Stacked subject image loading effect -->
        @if (courseItem && courseItem?.subjects) {
        <div class="subject-image-group">
          @for (item of courseItem?.subjects; track item) {
          <img [src]="item.image ?? 'assets/images/tech/placeholder.png'" class="floating" [alt]="item.title">
          }
        </div>
        }
        <hr class="dim-divider">
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-center gap-2 w-100">
    <button mat-flat-button color="primary" (click)="dismiss($event)" rippleEffect class="w-100 w-md-auto">
      Cancel
    </button>
    <button mat-stroked-button color="primary" (click)="doSetUserDesignation()" class="w-100 w-md-auto">
      Enroll Me
    </button>
  </div>
  }
</div>