.flex-center {
  justify-content: center;
}

.congratulation-medal {
  position: absolute;
  top: 0;
  right: 37px;
  height: 96px;
}

.subject-badge {
  position: absolute;
  top: 0;
  right: 36px;
  height: 48px;
}

.subject-info {
  flex: 1 1 auto;
  min-width: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.miniTxt {
  font-size: 0.7rem;
}