.flex-center{
    justify-content: center;
}
.congratulation-medal {
  position: absolute;
  top: 0;
  right: 37px;
  height: 96px;
}

.subject-badge {
  position: absolute;
  top: 0;
  right: 36px;
  height: 48px;
}