@if(showContent){
<section class="content" [@fadeIn]>
  @if (loading) {
  <div class="overlay"></div>
  <div class="animToast loading">
    <img src="assets/images/icons/loading.gif" class="smallLoadingIcon">
    <h5>{{loadingText}}</h5>
    @if (generatingQuiz) {
    <h6>Please wait</h6>
    }@else {
    <h6>Please wait</h6>
    }
    <!-- <p class="col-grey font-12">Selected Role : {{courseData?.title}}</p> -->
  </div>
  }
  @if (!loading && !generatingQuiz && courseData) {
  <div class="content-block">
    <div class="block-header">
    </div>

    <div class="row m-t-20 match-height clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        @if ((userData | async)?.userDesignation) {
        <app-congratulations-card
          [userName]="(userData| async)?.firstName+' '+(userData| async)?.lastName"></app-congratulations-card>
        }
        @if (!((userData | async)?.userDesignation?.title)) {
        <app-medal-card [userName]="'Hi '+(userData| async)?.firstName +'!'"
          [message]="'Up-Skill and Evaluate Skills in '+courseData?.title+'.'"></app-medal-card>
        }
      </div>
    </div>

    <div class="row m-t-20 match-height clearfix">
      <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">{{(userData| async)?.firstName}} {{(userData| async)?.lastName}}</div>
                @if ((userData| async)?.userDesignation) {
                <div class="name-center">{{ (userData| async)?.userDesignation?.title }}</div>
                }@else{
                <div class="name-center">New Joiner</div>
                <small class="miniTxt">Let us know your Tech Career Preference</small>
                }
              </div>
              <img src="assets/images/users/user.jpg" class="user-img" alt="{{(userData| async)?.firstName}}">
              <p>
                {{(userData| async)?.country}}
              </p>
            </div>
            <div class="text-center p-t-20">
              <small>Subjects in {{courseData.title}} roles</small>
              <h4 class="name-center">{{courseData.title}}</h4>
              @if (courseData && courseData?.subjects) {
              <ul class="list-unstyled order-list m-b-0">
                @for (item of courseData?.subjects; track item) {
                <li class="avatar avatar-sm">
                  <img class="rounded-circle" [src]="item.image" alt="{{item.title}}">
                </li>
                }
              </ul>
              <hr class="dim-divider">
              }

              @if (!((userData| async)?.designation)) {
              <small>Aspiring to become a {{courseData.title}}?</small>
              <button mat-stroked-button (click)="openCourseLauncher('default')" class="btn" rippleEffect>
                <i class="material-icons">autorenew</i> &nbsp;Select Designation</button>
              }
              <small (click)="openCourseLauncher('default')">Launch as a dialog</small>
              <hr>
              @if (!((userData| async)?.designation)) {
              <button mat-flat-button (click)="goToCourses()" color="primary">
                <i class="material-icons">autorenew</i> &nbsp;Explore Other Tech Roles</button>
              }@else{
              <button mat-flat-button (click)="goToCourses()" color="primary">
                <i class="material-icons">autorenew</i> Switch Role</button>
              }
            </div>
          </div>
        </div>
        <hr class="col-grey">
      </div>

      <div class="col-xl-8 col-lg-7 col-md-7 col-sm-12">
        <div class="row text-center m-t-10 m-b-20 clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-center font-20 m-b-10"><span class="bold">{{courseData?.title}} Skill Assessment</span>
            </h4>
          </div>
          @if (courseData && courseData?.subjects) {
          @for (item of courseData?.subjects; track item) {
          <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
            <app-subject-tracker-card [item]="item" (launchSubjectExplorer)="launchSubjectExplorer($event)"
              (takeQuiz)="generateSubjectQuiz($event)"></app-subject-tracker-card>
          </div>
          }
          }
        </div>

      </div>
    </div>

  </div>
  }
</section>
}