@if (!completed) {
<section class="content">
  <div class="content-block">
    <div class="block-header">
    </div>
    <div class="question-viewer d-flex flex-column vh-100">
      @if (loading) {
      <div class="overlay"></div>
      <div class="animToast loading">
        <img src="assets/images/icons/cube.gif" class="loadingIcon">
        <h4>{{loadingText}}</h4>
        <h5>Please wait...</h5>
      </div>
      }
      <!-- MAIN SWIPER CONTENT -->
      @if (!loading) {
      <div class="m-t-10">
        @if (questions?.length > 0) {
        <swiper-container #swiperEx slides-per-view="1" space-between="10" allow-touch-move="false" class="h-100">

          @for (question of questions; track $index) {
          <swiper-slide>
            <p class="col-grey text-center m-t-10">{{$index + 1}} of {{questions?.length}}</p>
            <div class="row clearfix">
              <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="question-card">
                  <h4 class="mb-3">#{{ question?.id }}</h4>
                  @if (question.title) {
                  <h4 class="mb-3">{{ question?.title }}</h4>
                  }

                  @if (isCodeQuestion(question.question)) {
                  <small>Read the Question Carefully</small>
                  <div class="question">
                    <pre><code>{{question.question}}</code></pre>
                  </div>
                  }@else {
                  <div class="question" [innerHTML]="question?.question | safe:'html'"></div>
                  }
                  @if (question?.topics && question?.topics.length > 0) {
                  <div class="list-group-item m-b-20">
                    @for (topic of question?.topics; track topic) {
                    <span class="badge col-indigo">{{topic.title}}</span>
                    }
                  </div>
                  }
                  <hr class="dim-divider">
                  @for (choice of question.options; track choice) {
                  @if (mode === 0) {
                  <mat-card class="choice p-2 rounded mb-2" [ngClass]="{
         'selected': question.hasAnswered,
         'correct': choice.correct
       }">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>{{ choice.option }}</span>

                      @if (choice.correct) {
                      <img src="assets/images/icons/ic_correct.png" class="icon-right">
                      }
                    </div>
                  </mat-card>
                  }
                  @else {
                  <mat-card (click)="optionSelected(''+choice.id, question)" class="choice p-2 rounded mb-2" [ngClass]="{
         'selected': question.selectedChoice === choice.id,
         'correct': question.selectedChoice === choice.id,
         'wrong': question.selectedChoice === choice.id
       }">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>{{ choice.option }}</span>

                      @if (question.selectedChoice === choice.id) {
                      <img src="assets/images/icons/ic_correct.png" class="icon-right">
                      }
                      @if (question.selectedChoice === choice.id) {
                      <img src="assets/images/icons/ic_wrong.png" class="icon-wrong">
                      }
                    </div>
                  </mat-card>
                  }
                  }
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="question-card">
                  @if (question?.hint) {
                  <h5 class="cmSmallTitle">Hint</h5>
                  <p class="m-b-20 font-normal">{{ question?.hint }}</p> 
                  }
                  @if (question?.answer) {
                  <hr class="dim-divider">
                  <h5 class="cmSmallTitle">Answer:</h5>
                  <p class="m-b-20 font-normal">{{ question?.answer }}</p>
                  }
                  <div class="questionInfo">
                    @if (question?.subject?.title) {
                    <span class="mb-3 icon-text"><mat-icon>bookmark_border</mat-icon> {{ question?.subject?.title
                      }}</span>
                    }
                    @if (question.questionType) {
                    <span class="mb-3 icon-text"><mat-icon>{{question?.questionType === 'Trivia' ? 'check_boxcheck_box'
                        :
                        'indeterminate_check_box'}}</mat-icon> {{ question?.questionType }}</span>
                    }
                    @if (question.level) {
                    <span class="mb-3 icon-text"><mat-icon>school</mat-icon> {{ question?.level }}</span>
                    }
                    @if (question.timeAllowed) {
                    <span class="mb-3 icon-text"><mat-icon>alarm_on</mat-icon> {{ (question?.timeAllowed/60.0)
                      }}s</span>
                    }
                    @if (question.status) {
                    <span class="mb-3 icon-text"><mat-icon>public</mat-icon> {{ question?.status }}</span>
                    }
                    @if (question.createdAt) {
                    <span class="mb-3 icon-text"><mat-icon>access_time</mat-icon> {{ question?.createdAt |
                      date:'mediumDate'
                      }}</span>
                    }
                  </div>
                  @if (question.topics) {
                  <mat-chip-set aria-label="Tags">
                    @for (item of question.topics; track $index) {
                    <mat-chip>{{ item?.title }}</mat-chip>
                    }
                  </mat-chip-set>
                  }
                  <hr class="dim-divider">
                  <button mat-raised-button color="dark" (click)="editQuestion(question?.slug)">
                    <mat-icon>edit</mat-icon> Question Editor</button>
                  <hr class="dim-divider">
                  <button mat-raised-button color="dark" (click)="routeEditQuestionPage(question?.slug)">
                    <mat-icon>edit</mat-icon> Edit Question </button>
                </div>
              </div>
            </div>
          </swiper-slide>
          }
        </swiper-container>
        }
      </div>
      }
      <!-- FOOTER -->
      @if (!loading) {
      <mat-toolbar color="accent" class="footer-toolbar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4 text-start">
              @if (currentQuestionId > 0) {
              <button mat-flat-button color="warn" (click)="onSlidePrev()"><mat-icon>keyboard_arrow_left</mat-icon>
                Prev</button>
              }
            </div>
            <div class="col-4 text-center">
              <button mat-raised-button color="dark" (click)="exitViewer()">
                <mat-icon>cancel</mat-icon> Exit</button>
            </div>
            <div class="col-4 text-end">
              <button mat-flat-button color="primary" (click)="onSlideNext()">
                <mat-icon>keyboard_arrow_right</mat-icon> {{ currentQuestionId === questions.length - 1 ? 'Complete' :
                'Next' }}
              </button>
            </div>
          </div>
        </div>
      </mat-toolbar>
      }
    </div>
  </div>
</section>
}

@if (completed) {
<div class="quiz-result-container">
  <div class="content-block">
    <div class="overlay"></div>
    <div class="animToast hint">
      <h4>Finish Review</h4>
      <h6 class="col-grey">You have reviewed all the last fetched questions.</h6>
      <button mat-raised-button color="dark" (click)="exitViewer()">
        <mat-icon>cancel</mat-icon> Exit Viewer</button>
    </div>
  </div>
</div>
}