@if(isLoading){
  <div class="progress-container">
    <div class="preloader pl-size-sm">
      <div class="spinner-layer pl-purple">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
}
<div class="row">
  @for(job of courses|async;track job){
    <div class="col-lg-3 col-md-3 col-sm-12">
      <mat-card>
        <mat-card-content>
          <div class="subjectHeader">
            <!-- <img src="{{job.image}}" alt="{{job.title}}" class="subjectImage"> -->
            <mat-card-title class="text">{{job.title}}</mat-card-title>
          </div>
          <p class="font-12">{{job.description}}</p>
        @if(true){
         <mat-card-footer>
           <div class="text-center">
              <button mat-stroked-button color="primary" (click)="pickJobRole(job)">
                Select Role</button>
            </div>
        </mat-card-footer>
        }

          @if(!minimal){
          @if(job.isSubscribed){
           <ul class="list-unstyled">
              <li>
                <div class="mb-2">
                  <span class="progress-label">Coverage</span>
                  <span class="float-end progress-percent label m-b-5" [ngClass]="'label-success'">{{job.id}}%</span>
                </div>
                <div class="progress skill-progress m-b-20 w-100">
                  <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="job.id + '%'"
                  role="progressbar" [attr.aria-valuenow]="job.practice_percentage" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
            </ul>
          }
        }

        </mat-card-content>
      </mat-card>
    </div>
  }
</div>