<section class="content">
  <div class="content-block">

    <div class="row match-height m-t-20 clearfix">
      <!-- Congratulations Card -->
      <div class="col-12 col-md-6 col-lg-7">
        <app-congratulations-card></app-congratulations-card>
      </div>
      <!-- Medal Card -->
      <div class="col-12 col-md-6 col-lg-5">
        <app-medal-card></app-medal-card>
      </div>
    </div>

    <div class="row match-height m-t-20 clearfix">
      <div class="col-12 col-md-6 col-lg-7">
        <div class="card card-congratulations">
          <div class="card-body text-center">
          <h1>Hello test</h1>
        </div>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="card card-congratulations">
          <div class="card-body text-center">
             <h1>Hello test</h1>
          <h1>Hello test</h1>
          </div>
         
        </div>
      </div>
    </div>

    <div class="row m-t-20 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-learner-welcome-card></app-learner-welcome-card>
        <!-- Add in my subjects panel -->
        <!-- <app-my-subjects [minimal]="true" (subjectSelected)="onSubjectChange($event)"></app-my-subjects> -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center col-grey m-t-20">Skills by <b>Job Roles</b></h3>
        @if(subjectRoleMap && subjectRoleMap.length > 0){
        <app-subject-role-map [data]="subjectRoleMap"
          (subjectSelected)="onSubjectChange($event)"></app-subject-role-map>
        }
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="text-center col-grey mb-5 mt-5">Interact and Explore</h4>

          @for (engage of engagements; track engage) {
          <!-- <ng-container @fadeOut> -->
          
              <mat-card>
                <mat-card-header>
                  <img mat-card-avatar src="assets/images/tech/javascript.png" style="width: 40px!important;">
                  <!-- <mat-card-title>{{engage.subject}}</mat-card-title> -->
                  @if(engage.topic){
                  <mat-card-subtitle>{{engage.topic}}</mat-card-subtitle>
                  }
                </mat-card-header>
                <!-- <img mat-card-image src="assets/images/image-gallery/5.jpg"> -->
                <mat-card-content>
                  <p>{{engage.title}}</p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <div fxLayout="row">
                    <button mat-button (click)="exploreLesson(engage.id)">
                      <mat-icon class="col-green">check_circle_outline</mat-icon> Explore
                    </button>
                    <button mat-button>
                      <mat-icon class="col-red">close</mat-icon> Close
                    </button>
                  </div>
                </mat-card-actions>
              </mat-card>
            }
    </div>
</div>
  </div>
</section>