<section class="content">
  <div class="content-block">

    <!-- <div class="row m-t-20 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-quiz-questions-form></app-quiz-questions-form>
      </div>
      </div> -->

      <app-quiz-questions-form></app-quiz-questions-form>

    <div class="row match-height m-t-20 clearfix">
      <!-- Congratulations Card -->
      <div class="col-12 col-md-6 col-lg-7">
        <app-quiz-form></app-quiz-form>
        <app-quiz-settings-form 
  [initialSettings]="{ numQuestions: 15, mode: 'Interactive' }">
</app-quiz-settings-form>
        <!-- <app-quiz-settings-form 
  [initialSettings]="{ numQuestions: 15, mode: 'Interactive' }"
  (formSubmitted)="onSettingsSaved($event)"
  (settingsChanged)="onSettingsChanged($event)">
</app-quiz-settings-form> -->

        <app-congratulations-card [user]="authUser"></app-congratulations-card>
      </div>
      <!-- Medal Card -->
      <div class="col-12 col-md-6 col-lg-5">
        <app-medal-card [userName]="'Welcome '+userName" [message]="userMessage" [action]="nextAction"
        (medalAction)="handleAction($event)"></app-medal-card>
      </div>
    </div>

    <!-- <div class="row match-height m-t-20 clearfix">
      <div class="col-12 col-md-6 col-lg-7">
        <div class="card card-congratulations">
          <div class="card-body text-center">
            <h1>Hello test</h1>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="card card-congratulations">
          <div class="card-body text-center">
            <h1>Hello test</h1>
            <h1>Hello test</h1>
          </div>

        </div>
      </div>
    </div> -->

    <div class="row m-t-20 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center m-t-20">Skills by <span class="col-green">Job Roles</span></h3>
        @if(subjectRoleMap && subjectRoleMap.length > 0){
        <app-subject-role-map [data]="subjectRoleMap"
          (subjectSelected)="onSubjectChange($event)"></app-subject-role-map>
        }
      </div>
    </div>

    <div class="row m-t-20 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="text-center mb-5 mt-5">Explore Cards</h4>
      </div>
    </div>

    <div class="row clearfix">
      @for (engage of engagements; track engage) {
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <mat-card>
          <mat-card-header>
            <div class="header-flex">
              <!-- LEFT ICON -->
              @if (engage.style === 'left') {
              <ng-container>
                <img src="{{engage.imageUrl}}" class="subject-icon" />
              </ng-container>
              }
              <div class="title-block">
                <mat-card-title class="mat-card-title m-b-0">{{ engage.subject }}</mat-card-title>
                <mat-card-subtitle class="mat-card-subtitle col-grey m-t-0">{{ engage.topic }}</mat-card-subtitle>
              </div>

              <!-- RIGHT ICON -->
              @if (engage.style === 'right') {
              <ng-container>
                <img src="{{engage.imageUrl}}" class="subject-icon" />
              </ng-container>
              }
            </div>
          </mat-card-header>

          <mat-card-content>
            <p>{{ engage.title }}</p>
          </mat-card-content>

          <mat-divider class="dim-divider"></mat-divider>

          <mat-card-actions>
            <div fxLayout="row">
              <button mat-button (click)="exploreLesson(engage.id)">
                <mat-icon class="col-blue">check_circle_outline</mat-icon> Explore
              </button>
              <button mat-button (click)="closeLesson(engage.id)">
                <mat-icon class="col-red">close</mat-icon> Close
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      }
    </div>
  </div>
</section>