.contentUnused {
  text-align: center;
  padding: 1rem 1rem;
  animation: panelGlow 3s ease-in-out infinite alternate;
}

.glow-text {
  font-size: 1.2rem;
  color: rgb(24, 26, 24);
  text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
  animation: pulse 1.5s infinite alternate;
}

/* Glow animation for text */
@keyframes pulse {
  from {
    text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  }
  to {
    text-shadow: 0 0 20px #0f0, 0 0 40px #0f0;
  }
}

/* Glow animation for panels */
@keyframes panelGlow {
  from {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 15px rgba(0, 255, 0, 0.2);
    //background: rgba(0, 0, 0, 0.6);
  }
  to {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.6), 0 0 25px rgba(0, 255, 0, 0.4);
    //background: rgba(0, 0, 0, 0.75);
  }
}