@if(showContent){
<section class="content" [@topToBottom]>
  <div class="content-block">
    @if(isLoading){
    <div class="progress-container">
      <div class="preloader pl-size-sm">
        <div class="spinner-layer pl-purple">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>

          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    }

    @if(!isLoading){
    <div class="m-t-10">
      <!-- <button mat-stroked-button class="open-filter-btn" type="button" (click)="openSidebar()">
      <mat-icon>filter_list</mat-icon>
      Filter Quizzes
    </button> -->
      <quiz-filter-sidebar [selectedSubjectId]="selectedSubjectId" [selectedTopicId]="selectedTopicId"
        (selectedSubjectIdChange)="selectedSubjectId = $event" (selectedTopicIdChange)="selectedTopicId = $event"
        (apply)="applyFilter()" (reset)="resetFilters()" (close)="closeSidebar()"></quiz-filter-sidebar>

      @if(selectedSubjectId !== null && selectedSubjectId !== undefined){
      <div class="row m-t-10 g-4">
        @for(quiz of quizzes; track quiz.id){
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-quiz-thumbnail [quiz]="quiz" (quizSelected)="takeQuiz($event)" (viewAttempts)="viewAttempts($event)"></app-quiz-thumbnail>
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
</section>
}