@if(showContent){
<section class="content" [@topToBottom]>
  <div class="content-block">
    @if(isLoading){
    <div class="progress-container">
      <div class="preloader pl-size-sm">
        <div class="spinner-layer pl-purple">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>

          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    }

    @if(!isLoading){
    <div class="m-t-10">
      <!-- <button mat-stroked-button class="open-filter-btn" type="button" (click)="openSidebar()">
      <mat-icon>filter_list</mat-icon>
      Filter Quizzes
    </button> -->
      <quiz-filter-sidebar [selectedSubjectId]="selectedSubjectId" [selectedTopicId]="selectedTopicId"
        (selectedSubjectIdChange)="selectedSubjectId = $event" (selectedTopicIdChange)="selectedTopicId = $event"
        (apply)="applyFilter()" (reset)="resetFilters()" (close)="closeSidebar()"></quiz-filter-sidebar>

      @if(selectedSubjectId !== null && selectedSubjectId !== undefined){
      <div class="row m-t-10 g-4">
        @for(quiz of quizzes; track quiz.id){
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <!-- <app-quiz-thumbnail [quiz]="quiz" (takeQuiz)="takeQuiz($event)"></app-quiz-thumbnail> -->
          <app-quiz-thumbnail [quiz]="quiz"></app-quiz-thumbnail>
          <!--- Legacy Quiz Item UI
        <mat-card class="hoverCard quiz-card">
          <mat-card-content>
            @if(quiz.isQuizTaken){
            <img src="assets/images/icons/ic_correct.png" class="job-badge" alt="Quiz Badge" />
            }
            <div class="subjectHeader">
              <small>
                {{quiz.label}}
              </small>
              <mat-card-title class="text">
                {{quiz.title}}
              </mat-card-title>
            </div>
            <p class="font-12 description">
              {{quiz.description}}
            </p>
            <hr class="dim-divider">
            <div class="quiz-meta">
              <div class="meta-item">
                <span class="meta-label">
                  Questions
                </span>

                <span class="meta-value">
                  {{ quiz.totalQuestions }}
                </span>
              </div>

              <div class="meta-item">
                <span class="meta-label">
                  Attempts
                </span>

                <span class="meta-value">
                  {{ quiz.totalAttempts }}
                </span>
              </div>

            </div>

            @if (quiz.settings) {
            <div class="quiz-settings">
              @if(quiz.settings.enableTimer){
              <span>
                ⏱ Timer
              </span>
              }
              @if(quiz.settings.showHint){
              <span>
                💡 Hint
              </span>
              }
              @if(quiz.settings.enableNavigation){
              <span>
                🧭 Navigation
              </span>
              }
            </div>
            }
            <div class="created-by">
              <span>
                Created By
              </span>
              <strong>
                {{ quiz.createdBy?.name }}
              </strong>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <div class="footer-btn">
               @if (quiz.isQuizTaken) {
              <button mat-stroked-button color="primary" rippleEffect class="w-100 w-md-auto">
                View Result
              </button>
              }@else{
              <button mat-flat-button color="primary" class="take-btn" (click)="takeQuiz(quiz.slug)">
                Take Quiz
              </button>
              }
            </div>
          </mat-card-footer>
        </mat-card>-->
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
</section>
}