<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad'" [items]="[]" [active_item]="'Dashboad'"></app-breadcrumb>
    </div>

     <div class="row clearfix">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <app-chart-card3 [title]="title" [subtitle]="subtitle"></app-chart-card3>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>Users Report</h2>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/users/create']">
                <mat-icon>add_circle_outline</mat-icon>
                <span>Add New</span>
              </button>
              <button mat-menu-item>
                <mat-icon>refresh</mat-icon>
                <span>Refresh</span>
              </button>
            </mat-menu>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-12 col-lg-4 col-xl-4 d-flex flex-column">
                <div class="ml-xl-3">
                  <p class="fw-bold banner-big-font">100</p>
                  <h4 class="fw-bold banner-big-font2 col-green">Total Users</h4>
                  <p class="mb-2">37 Users in this week.
                  </p>
                  <p class="mb-2">11 Users registered today.
                  </p>
                   <div class="text-center p-t-20">
              <button mat-stroked-button routerLink="/users/create" color="primary">Add New User</button>
            </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-8 col-xl-8">
                <div class="row">
                  <div class="col-md-12">
                    <p class="font-b-500 font-18 m-b-30">Country Wise</p>
                    <div class="progress-list m-b-10">
                      <div class="details">
                        <div class="title">USA</div>
                      </div>
                      <div class="status">
                        <span>40</span>%
                      </div>
                      <div class="progress-md not-rounded progress">
                        <div class="progress-bar progress-bar-warning width-per-65" role="progressbar"
                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                          <!-- <span class="sr-only">40%</span> -->
                        </div>
                      </div>
                    </div>
                    <div class="progress-list m-b-10">
                      <div class="details">
                        <div class="title">Germany</div>
                      </div>
                      <div class="status">
                        <span>49</span>%
                      </div>
                      <div class="progress-md not-rounded progress">
                        <div class="progress-bar progress-bar-danger width-per-49" role="progressbar" aria-valuenow="49"
                          aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">49%</span>
                        </div>
                      </div>
                    </div>
                    <div class="progress-list m-b-10">
                      <div class="details">
                        <div class="title">France</div>
                      </div>
                      <div class="status">
                        <span>65</span>%
                      </div>
                      <div class="progress-md not-rounded progress">
                        <div class="progress-bar progress-bar-blue width-per-65" role="progressbar" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">65%</span>
                        </div>
                      </div>
                    </div>
                    <div class="progress-list m-b-10">
                      <div class="details">
                        <div class="title">India</div>
                      </div>
                      <div class="status">
                        <span>28</span>%
                      </div>
                      <div class="progress-md not-rounded progress">
                        <div class="progress-bar progress-bar-success width-per-28" role="progressbar"
                          aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">28%</span>
                        </div>
                      </div>
                    </div>
                    <div class="progress-list m-b-10">
                      <div class="details">
                        <div class="title">Other</div>
                      </div>
                      <div class="status">
                        <span>16</span>%
                      </div>
                      <div class="progress-md not-rounded progress">
                        <div class="progress-bar progress-bar-hotpink width-per-16" role="progressbar"
                          aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">16%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>New Users</mat-card-title>
            <a mat-button color="primary" href="#" (click)="$event.preventDefault();">View All</a>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 410px" visibility="hover">
              <app-subscription-table-widget></app-subscription-table-widget>
            </ng-scrollbar>
          </mat-card-content>
          <mat-card-footer>
            <div class="text-center p-t-20">
              <button mat-stroked-button routerLink="/users/list" color="primary">View All Users</button>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="card">
          <!-- <div class="header">
            <h2>Current User Roles</h2>
          </div> -->
          <div class="body">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                  <div class="col-md-6">
                    <p class="font-b-500 font-18 m-b-30">Role Wise</p>
                    @for (roleItem of initialRoles; track roleItem.value) {
                    <div class="progress-list m-b-10">
                      <div class="details">
                        <div class="title">{{roleItem.label}}</div>
                      </div>
                      <div class="status">
                        <span>40</span>%
                      </div>
                      <div class="progress-md not-rounded progress">
                        <div class="progress-bar progress-bar-warning width-per-65" role="progressbar"
                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                          <!-- <span class="sr-only">40%</span> -->
                        </div>
                      </div>
                    </div>
                  }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="row">
      <div class="col-sm-4 m-t-16">
        <mat-card>
          <mat-card-content>
            <app-activity-count-card [questionAttempted]="24" [lessonsCompleted]="6" [challengesSolved]="0" [badgesEarned]="1">
            </app-activity-count-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div> -->

  </div>
</section>