<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'View Mail'" [items]="['Email']" [active_item]="'View Mail'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="boxs mail_listing">
            <div class="inbox-body no-pad">
              <section class="mail-list">
                <div class="mail-sender">
                  <div class="d-flex mb-4">
                    <a href="#" class="table-img m-r-15">
                      <img alt="" src="assets/images/user/user2.jpg">
                    </a>
                    <div class="flex-grow-1">
                      <span class="date float-end font-12">Registered 4:15 AM 04 April 2017</span>
                      <p class="text-primary font-16 font-b-600">User Full Name</p>
                      <small class="text-muted">From: sarah&#64;example.com</small>
                    </div>
                  </div>
                </div>
                <div class="view-mail">
                  <p class="font-14">Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel
                    accumsan augue
                    egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.
                    Mauris
                    sed congue orci. Donec ultrices faucibus rutrum. Phasellus sodales
                    vulputate urna,
                    vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu
                    consequat
                    risus. Mauris sed congue orci. Donec ultrices faucibus rutrum. Phasellus
                    sodales
                    vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem
                    lobortis porttitor
                    eu consequat risus. Mauris sed congue orci.</p>
                  <p class="font-14">
                    Porttitor eu consequat risus.
                    <a href="#">Mauris sed congue orci. Donec ultrices faucibus rutrum</a>.
                    Phasellus sodales vulputate
                    urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis
                    porttitor eu
                    consequat risus. Mauris sed congue orci. Donec ultrices faucibus rutrum.
                    Phasellus
                    sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at
                    sem lobortis
                    porttitor eu consequat risus. Mauris sed congue orci.
                  </p>
                  <p class="font-14">
                    Sodales
                    <a href="#">vulputate urna, vel accumsan augue egestas ac</a>. Donec vitae
                    leo at sem lobortis
                    porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices
                    faucibus rutrum.
                    Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec
                    vitae leo
                    at sem lobortis porttitor eu consequat risus. Mauris sed congue orci.
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>