<div class="card card-congratulations">
          <div class="card-body text-center">
            <img src="assets/images/widgets/decore-left.png" class="congratulations-img-left" alt="card-img-left" />
            <img src="assets/images/widgets/decore-right.png" class="congratulations-img-right" alt="card-img-right" />
            <div class="cardavatar">
              <div class="avatar-content">
                <app-feather-icons [icon]="'award'" [class]="'font-large-1'"></app-feather-icons>
              </div>
            </div>
            <div class="text-center">
              <h3 class="mb-1 text-white">Welcome Ranjan,</h3>
              <p class="card-text m-auto w-75">
                You are successfully registered with CodeMerit. Complete the <strong>Onboarding Steps</strong> to get started.
              </p>
            </div>
          </div>
        </div>