@if(showContent){
  <section class="content">
  <div class="content-block">
    <!-- <div class="block-header">
    </div> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-30">
      <div class="card">
        <div class="header">
          <h3>
            <strong>RxJS</strong>
          </h3>
        </div>
        <div class="body">
          <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
                <img src="assets/images/user/user1.jpg" alt="User">
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content">
                <p class="timelineLabelColor font-14 font-b-500">
                  <strong>John Doe</strong> posted a status update
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum
                  provident
                  rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                <a (click)="openTopicContent('rxjs-concatMap')" class="cd-read-more">Read more</a>
                <span class="cd-date">Jan 14</span>
              </div>
              <!-- cd-timeline-content -->
            </div>
          </section>
          <!-- cd-timeline -->
        </div>
      </div>
    </div>
  </div>
</section>
}