
<div class="certificate certificate-professional">
  <div class="certificate-main">
    <div class="certificate-header">
      <img src="./../../../assets/images/logo.png" alt="CodeMerit Logo" class="certificate-logo" />
      <div class="certificate-title accent">
        {{ model.platformName }}
        <span *ngIf="templateId === 'internship'"> Internship Certificate</span>
        <span *ngIf="templateId === 'work'"> Work Certificate</span>
        <span *ngIf="templateId === 'appreciation'"> Appreciation Certificate</span>
      </div>
      <div class="certificate-subtitle">
        <ng-container [ngSwitch]="templateId">
          <span *ngSwitchCase="'internship'">This internship certificate is awarded to</span>
          <span *ngSwitchCase="'work'">This work certificate is awarded to</span>
          <span *ngSwitchCase="'appreciation'">This appreciation certificate is awarded to</span>
          <span *ngSwitchDefault>This certificate is awarded to</span>
        </ng-container>
      </div>
    </div>
    <div class="certificate-recipient">
      <span class="recipient-name">{{ model.userName }}</span>
    </div>
    <div class="certificate-details">
      <div class="details-row">
        <div class="details-col">
          <div class="details-label">Skill</div>
          <div class="details-value">{{ model.skillName }} {{ model.tierDisplayName }}</div>
        </div>
        <div class="details-col">
          <div class="details-label">Score</div>
          <div class="details-value">{{ model.scorePercentage }}%</div>
        </div>
      </div>
     
      <div class="details-row">
        <div class="details-col">
          <div class="details-label">Issued Date</div>
          <div class="details-value">{{ model.issuedDate | date:'mediumDate' }}</div>
        </div>
        <div class="details-col">
          <div class="details-label">Verification Code</div>
          <div class="details-value">{{ model.verificationCode }}</div>
        </div>
      </div>
    </div>
    <div class="certificate-footer">
      <div class="footer-names-row">
        <div class="footer-col footer-issuer">
          <div class="footer-label">Issuer</div>
          <img class="footer-signature" src="assets/images/icons/signature.png" alt="Issuer Signature" />
          <div class="footer-name">{{ model.issuerName }}</div>
        </div>
        <div class="footer-col footer-lead">
          <div class="footer-label">Program Lead</div>
          <img class="footer-signature" src="assets/images/icons/signature.png" alt="Program Lead Signature" />
          <div class="footer-name">{{ model.programLead }}</div>
        </div>
      </div>
      <div class="footer-template">Certificate No. {{ model.certificateNumber }}</div>
    </div>
  </div>
</div>