<div class="quiz-questions-form row g-3">
    <!-- Column 1: Question Filter & List -->

    <div class="col-12">
        <!-- Filter Panel -->
        <form [formGroup]="filterForm" class="mb-2">
            <div class="row g-2">
                <div class="col-12 col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Subject</mat-label>
                        <mat-select formControlName="subject" multiple>
                            @for (item of subjects; track item.id) {
                            <mat-option [value]="item.id">{{ item.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label class="mb-2">Select Topic(s)</mat-label>
                        <mat-select formControlName="topic" multiple>
                            @for (item of topics; track item.id) {
                            <mat-option [value]="item.id">{{ item.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-12 col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Level</mat-label>
                        <mat-select formControlName="level">
                            <mat-option value="">All</mat-option>
                            <mat-option value="Easy">Easy</mat-option>
                            <mat-option value="Intermediate">Intermediate</mat-option>
                            <mat-option value="Advanced">Advanced</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row g-2 mt-1">
                <div class="col">
                    <button mat-stroked-button color="primary" type="button" (click)="resetFilters()">Reset</button>
                </div>
                <div class="col text-end">
                    <button mat-flat-button color="accent" type="button" (click)="applyFilters()">Apply</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-6 d-flex flex-column h-100">
        <ng-container *ngTemplateOutlet="selectQuestionCard"></ng-container>
    </div>

    <!-- Column 2: Selected Questions -->
    <div class="col-12 col-md-6 d-flex flex-column h-100">
        <ng-container *ngTemplateOutlet="selectedQuestionCard"></ng-container>
    </div>
</div>

<ng-template #selectQuestionCard>
    <mat-card>
        <mat-card-header class="header-style">
            <mat-card-title>Quiz Questions Filter ({{ getAvailableQuestions().length }})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (getAvailableQuestions().length > 0) {
            <div class="scrollbar-container" style="height: 300px;">
                <ng-scrollbar visibility="hover">
                    <div class="question-list">
                        @for (question of getAvailableQuestions(); track question.id) {
                        <div class="question-item">
                            <div class="d-flex align-items-center">
                                <mat-checkbox [checked]="isQuestionSelected(question)"
                                    (change)="onQuestionToggle(question, $event)" color="primary">
                                </mat-checkbox>
                                <div class="ms-3 question-content">
                                    <h4>{{question.title}}</h4>
                                    <div class="d-flex question-meta">
                                        <span class="question-category">{{question.topic}}</span>
                                        <span class="question-priority">{{question.level}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </ng-scrollbar>
            </div>

            <!-- Footer -->
            <div class="mt-3">
                <button mat-flat-button color="primary" class="w-100 py-2"
                    [disabled]="!selectedQuestionsControl.value?.length" (click)="addSelectedQuestions()">
                    Add Selected Questions
                </button>
            </div>
            }@else{
            <div class="no-data-container text-center">
                <img src="assets/images/icons/empty.png" class="loadingIcon m-t-20" />
                <p class="col-grey">No question available.</p>
            </div>
            }
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #selectedQuestionCard>
    <mat-card>
        <mat-card-header class="header-style">
            <mat-card-title>Selected Questions ({{ quizQuestions.length }})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (quizQuestions.length > 0) {
            <ng-scrollbar style="height: 400px" visibility="hover">
                <div class="question-list">
                    @for (question of quizQuestions; track question.id) {
                    <div class="question-item">
                        <div class="d-flex align-items-center">
                            <mat-checkbox [checked]="isQuestionSelected(question)"
                                (change)="onQuestionToggle(question, $event)" color="primary">
                            </mat-checkbox>
                            <div class="ms-3 question-content">
                                <h4>{{question.title}}</h4>
                                <div class="d-flex question-meta">
                                    <span class="question-category">{{question.subject}}</span>
                                    <span class="question-priority">{{question.topic}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="question-actions">
                            <button mat-icon-button matTooltip="Remove Question"
                                (click)="removeQuestionFromQuiz(question)">
                                <mat-icon class="material-icons-outlined">close</mat-icon>
                            </button>
                        </div>
                    </div>
                    }
                </div>
            </ng-scrollbar>
            }@else{
            <div class="no-data-container text-center">
                <img src="assets/images/icons/empty.png" class="loadingIcon m-t-20" />
                <p class="col-grey">No question selected.</p>
            </div>
            }
        </mat-card-content>
    </mat-card>
</ng-template>