<div class="card hoverCard card-congratulation-medal">
  <div class="card-body text-center">
    <img src="assets/images/icons/badge.svg" class="congratulation-medal text-center" alt="UpSkillr Medal" />
    <h5 class="text-center cmSubHeading m-t-20">{{title}}</h5>
    <!-- <h5 class="card-text m-t-20 font-14 text-center">{{message()}}</h5> -->
    <h5 class="card-text m-t-20 font-14 text-center">Rate your current tech skills 💻</h5>
    <div class="star-rating auto-animate">
      <span class="star rating"> ★ </span>
      <span class="star rating"> ★ </span>
      <span class="star rating"> ★ </span>
      <span class="star rating"> ★ </span>
      <span class="star rating"> ★ </span>
    </div>
    <!-- <h5 class="m-t-0 font-12 col-grey">Rate your skill sets</h5> -->
    <h5 class="card-text m-t-20 font-14 text-center">We’ll shape your journey to become a job-ready full-stack developer.</h5>
    <br>
    @if (action === 'takeQuiz') {
    <button mat-flat-button color="warn" (click)="handleAction()"><mat-icon>keyboard_arrow_left</mat-icon>
      Assess My Skill</button>
    }
    @if (action === 'login') {
    <button mat-flat-button color="warn" (click)="handleAction()">
      Sign Up / Login <mat-icon>keyboard_arrow_right</mat-icon></button>
    }
    @if (action === 'selfRating') {
    <button  mat-flat-button color="warn" (click)="handleAction()" rippleEffect>
      <mat-icon>keyboard_arrow_right</mat-icon>Start with Skill Rating</button>
    }
  </div>
</div>