.congratulation-medal {
  position: absolute;
  top: 0;
  right: 30px;
  height: 48px;
   @media (max-width: 575px) {
      right: 20px;
      height: 45px;
    }
}

.card-text{
  margin-top:10px;
  //font-size:0.8rem;
}