<div class="row topicList">
  @if (subjectTopics?.length > 0) {
  @for (group of subjectTopics; track group) {
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <mat-card class="card hoverCard">
      <mat-card-header>
        <mat-card-subtitle>{{ group.title }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        @if (group.started) {
        <img src="assets/images/icons/badge.svg" class="topic-status" />
        }
        <p class="font-12 m-t-0">{{ group.description }}</p>
        @if (group.attempted > 0) {
        <p class="font-12 m-t-0">Topic Score : {{ (group.correct / group.attempted)*100 }} % </p>
        }
        @if (group.attempted > 0) {
        <p class="font-12 m-t-0">Completed : {{ group.coverage }} % </p>
        }
        <!-- Coverage Progress -->
        @if(group.coverage > 0){
        <div class="mb-2">
          <span class="progress-label">Score</span>
          <span class="float-end progress-percent label m-b-5" [ngClass]="'label-success'">{{ group.score
            }}%</span>
        </div>
        <div class="progress skill-progress m-b-20 w-100">
          <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="group.score + '%'"
            role="progressbar" [attr.aria-valuenow]="group.score" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr class="dim-divider">
        <div class="mb-2">
          <span class="progress-label">{{group.coverage >= 100 ? 'Completed' : 'Coverage'}}</span>
          <span class="float-end progress-percent label m-b-5" [ngClass]="'label-success'">{{ group.coverage
            }}%</span>
        </div>
        <div class="progress skill-progress m-b-20 w-100">
          <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="group.coverage + '%'"
            role="progressbar" [attr.aria-valuenow]="group.coverage" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        }
      </mat-card-content>
      <mat-card-actions align="end">
        @if (group.numTrivia > 0) {
        <button mat-button class="icon-button" (click)="onTopicQuiz(group)"><mat-icon>code</mat-icon> Take
          Quiz</button>
        }
        @if (group.numLessons > 0) {
        <button mat-button class="icon-button" matTooltip="{{group.coverage <= 0 ? '' : (group.coverage>= 100
          ? 'Revise' : 'Learn')}}" (click)="onTopicExplore(group)">
          <mat-icon>{{group.coverage <= 0 ? 'lock_outline' : (group.coverage>= 100
              ? 'history' : 'play_arrow')}}</mat-icon> {{group.coverage <= 0 ? 'Start Now' : (group.coverage>= 100
            ? 'Revise' : 'Learn')}}</button>
        }
      </mat-card-actions>
    </mat-card>
  </div>
  }
  }
</div>