.icon-button {
    display: flex;
    align-items: center;
}

.icon-button mat-icon {
    margin-right: 4px!important;
    height: auto !important;
    //height: 28px!important;
}

::ng-deep .icon-button .mat-mdc-button>.mat-icon {
    height: auto !important;
}
.topicList{
    padding: 10px;
}
.topic-status {
  position: absolute;
  top: 0;
  right: 30px;
  height: 36px;
   @media (max-width: 575px) {
      right: 20px;
      height: 45px;
    }
}