<div class="row topicList">
  @if (subjectTopics?.length > 0) {
  @for (group of subjectTopics; track group) {
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <mat-card class="card hoverCard">
      <mat-card-header>
        <mat-card-subtitle>{{ group.title }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        @if (group.isCompleted) {
        <img src="assets/images/icons/ic_correct.png" class="statusCompleted" alt="Completed" />
        }@else {
        @if (group.isStarted) {
        <img src="assets/images/icons/badge.svg" class="statusStarted" alt="Started" />
        }
        }
        <p class="font-12 m-t-0"><span class="cmSmallTitle">Content </span>:{{ group.description }}</p>
        @if (group.myAllAttempts <= 0 && group.goal) { <p class="font-12 m-t-0"><span class="cmSmallTitle">Goal </span>:
          {{ group.goal }}</p>
          }
          <!-- Coverage Progress -->
          @if (group.myAllAttempts > 0) {
          <div class="mb-2">
            <span class="progress-label">Score</span>
            <span class="float-end progress-percent label m-b-5" [ngClass]="'label-success'">{{ group.score
              }}%</span>
          </div>
          <div class="progress skill-progress m-b-20 w-100">
            <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="group.score + '%'"
              role="progressbar" [attr.aria-valuenow]="group.score" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="mb-2">
            <span class="progress-label">Accuracy</span>
            <span class="float-end progress-percent label m-b-5" [ngClass]="'label-success'">{{ group.avgAccuracy
              }}%</span>
          </div>
          <div class="progress skill-progress m-b-20 w-100">
            <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="group.avgAccuracy + '%'"
              role="progressbar" [attr.aria-valuenow]="group.avgAccuracy" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <!-- <hr class="dim-divider"> -->
          <div class="mb-2">
            <span class="progress-label">{{group.isCompleted ? 'Completed' : 'Coverage'}}</span>
            <span class="float-end progress-percent label m-b-5" [ngClass]="'bg-dark text-white'">{{ group.coverage
              }}%</span>
          </div>
          <div class="progress skill-progress m-b-20 w-100">
            <div class="progress-bar" [ngClass]="'bg-dark'" [style.width]="group.coverage + '%'" role="progressbar"
              [attr.aria-valuenow]="group.coverage" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          }
      </mat-card-content>
      @if (group.numTrivia > 0 || group.myAllAttempts > 0) {
      <mat-card-actions class="d-flex justify-content-between">

        @if (userData && userRole === 'Admin') {
        <button mat-button class="icon-button">
          <mat-icon>transfer_within_a_station</mat-icon>
          {{ group.totalAttempts }}</button>
        }

        <button mat-button class="icon-button">
          <mat-icon>quiz</mat-icon>{{ group.numTrivia }}</button>

        <button mat-button class="icon-button" (click)="onTopicQuiz(group)">
          🏆 Take Quiz </button>

        <span class="icon-button col-grey font-12">
          {{ (group.myUniqueAttempts / group.myAllAttempts)*100 | number:'1.0-0'
          }}% Unique Attempts &nbsp;</span>



        @if (group.numLessons > 0) {
        <button mat-button class="icon-button" matTooltip="{{group.coverage <= 0 ? '' : (group.coverage>= 100
          ? 'Revise' : 'Learn')}}" (click)="onTopicExplore(group)">
          <mat-icon>{{group.coverage <= 0 ? 'lock_outline' : (group.coverage>= 100
              ? 'history' : 'play_arrow')}}</mat-icon> {{group.coverage <= 0 ? 'Start Now' : (group.coverage>= 100
            ? 'Revise' : 'Learn')}}</button>
        }
      </mat-card-actions>
      }
    </mat-card>
  </div>
  }
  }
</div>