<section class="content">
  <div class="content-block">
    <div class="block-header m-t-20"></div>
    @if (loading) {
    <div class="overlay"></div>
        <div class="animToast loading">
          <img src="assets/images/icons/cube.gif" class="loadingIcon">
          <h4>Loading LMS Dashboad</h4>
          <h5>Please wait </h5>
        </div>
    }@else{
    @if (dashboard) {
    <div class="row m-b-20 clearfix">
      @if (dashboard?.questions) {
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <mat-card class="hoverCard">
          <mat-card-content>
            <div class="text-center">
              <p class="banner-big-font">
                {{ dashboard.questions.totalApproved }}
              </p>
              <h4 class="banner-big-font2 col-green">Active Questions</h4>
            </div>
            <hr class="dim-divider" />
            <div class="row">
              <div class="col-3">
                <label class="font-b-500 font-18">Total</label>
                <p class="value-text">{{ dashboard.questions.totalQuestions ?? '0' }}</p>
              </div>

              <div class="col-3">
                <label class="font-b-500 font-18">Pending</label>
                <p class="value-text">{{ dashboard.questions.totalPending ?? '0' }}</p>
              </div>
              <div class="col-3">
                <label class="font-b-500 font-18">Trivia</label>
                <p class="value-text">{{ dashboard.questions.totalTrivia ?? '0' }}</p>
              </div>
              <div class="col-3">
                <label class="font-b-500 font-18">Interview</label>
                <p class="value-text">{{ dashboard.questions.totalGeneral ?? '0' }}</p>
              </div>
            </div>
            <hr class="dim-divider" />
            <!-- <div class="text-center p-t-20 p-b-5">
              <button mat-stroked-button color="primary" (click)="goToQuestions()">
                Manage Questions
              </button>
            </div>
            <div class="text-center p-t-5 p-b-20">
              <button mat-stroked-button color="primary" (click)="goToQuestionViewer()">
                View Questions
              </button>
            </div> -->
            <div class="row m-t-10 text-center clearfix">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <button mat-stroked-button color="primary" (click)="goToQuestions()">
                Manage
              </button>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
           <button mat-stroked-button color="primary" (click)="goToQuestionViewer()">
                Review
              </button>
        </div>
        </div>

          </mat-card-content>
        </mat-card>
      </div>
      }

      @if (dashboard?.quizzes) {
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <mat-card class="hoverCard">
          <mat-card-content>
            <div class="text-center">
              <p class="banner-big-font">
                {{ dashboard.quizzes.totalQuizCreated +1 }}
              </p>
              <h4 class="banner-big-font2 col-blue">Published Quizzes</h4>
            </div>
            <hr class="dim-divider" />
                <div class="row">
                  <div class="col-4">
                    <label class="font-b-500 font-16">In Review</label>
                    <p class="value-text">0</p>
                  </div>
                  <div class="col-4">
                    <label class="font-b-500 font-16">Draft</label>
                    <p class="value-text">1</p>
                  </div>
                  <div class="col-4">
                    <label class="font-b-500 font-16">Plays</label>
                    <p class="value-text">131</p>
                  </div>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
      }
    </div>
    }
    @if (currentModule && timeframeData) {
    <div class="row m-t-20 m-b-20">
      <div class="col text-center">
        <mat-button-toggle-group class="mt-0 m-b-10" [(ngModel)]="currentModule" (change)="onModuleChange($event)"
          appearance="standard">
          <mat-button-toggle value="Questions">Questions</mat-button-toggle>
          <mat-button-toggle value="Quizzes">Quizzes</mat-button-toggle>
        </mat-button-toggle-group>
        @if (currentModule) {
        <app-timeseries-chart [timeframe]="timeframeData"></app-timeseries-chart>
        }
      </div>
    </div>
    }
    }
  </div>
</section>