<div class="appointment-card">
    <p class="total-revenue">Activity Summary</p>
    <div class="appointment-details mb-16">
        <div class="appointment-item income">
            <span class="amount">{{ questionAttempted }}</span>
            <span class="label">Questions</span>
        </div>
        <div class="appointment-item expense">
            <span class="amount">{{ lessonsCompleted }}</span>
            <span class="label">Lessons Completed</span>
        </div>
    </div>
    <div class="appointment-details m-t-16">
        <div class="appointment-item income">
            <span class="amount">{{ challengesSolved }}</span>
            <span class="label">Challenges Taken</span>
        </div>
        <div class="appointment-item expense">
            <span class="amount">{{ badgesEarned }}</span>
            <span class="label">Badges Earned</span>
        </div>
    </div>
</div>