:host ::ng-deep .advance-table .mat-mdc-header-cell {
  font-weight: 500;
}

:host ::ng-deep .column-filter .mat-mdc-select-arrow {
  display: none;
}


::ng-deep .mat-col-question {
  min-width: min(50%, 400px) !important;
}

.card {
  margin-top: 2rem;
}

.full-text {
  white-space: normal;
  word-wrap: break-word;
  max-height: 100px;
  overflow: hidden;
}

.bold-text {
  font-size: 1rem;
  font-weight: 500;
  display: block;
}

.status-cell {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

::ng-deep .mat-column-title {
  width: 25%;
}

::ng-deep .mat-column-description {
  width: 35%;
}

::ng-deep .mat-column-numQuestions {
  width: 10%;
}

::ng-deep .mat-column-label {
  width: 10%;
}

::ng-deep .mat-column-status {
  width: 10%;
}

::ng-deep .mat-column-edit {
  width: 10%;
}

.quiz-row:hover {
  background: #f9fbff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .responsive_table {
    overflow-x: auto;
  }

  table {
    min-width: 800px;
  }
}