@if(quiz && quiz.title){
<ion-header>
    <ion-toolbar>
        <ion-buttons mode="md" slot="start">
            <img [src]="quiz.subject_icon" class="subjectIcon">&nbsp;
            <ion-text class="quizTitle">{{quiz.title}}</ion-text>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                <strong>{{currentQuestionId}} of 10</strong>
            </div>
        </ion-title>

        <ion-buttons slot="end">
            <span class="end">
                <img src="assets/images/icons/ic_watch.png">&nbsp;
                <cd-timer [countdown]="true" [startTime]="240" format="ms"></cd-timer>
            </span>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
}

@if (questions && questions.length > 0) {
<ion-content>

    <div class="content-bg"> </div>

    <div class="sliderBox">
        <swiper-container #swiperEx initial-slide="0" (slidechange)="swiperSlideChanged($event)">
            @for (question of questions; track question.id) {
            <swiper-slide>
                <div class="ion-slides">
                    <div class="ion-slide">
                        <h3>{{question.title}}</h3>
                        <!-- Start Sample Question -->
                        <ion-card>
                            <h3>{{question.title}}</h3>
                            <!-- <p>
                                {{quiz.topics}}
                            </p> -->
                            <div class="form">
                                <ion-list lines="none">
                                    
                                    <!-- @for (choice of question.choices; track choice) {
                                    <ion-item lines="none" class="animate__animated animate__fadeInUp"
                                        [ngClass]="(choice == question.correctAnswer) ? 'rightAnswer' : 'wrongAnswer' " (click)="wrong_answer1()">
                                        <div class="item_inner">
                                            <div class="input_box d-flex">
                                                <h3>{{choice}}</h3>
                                                <div class="icon_box end">
                                                    <img src="assets/images/icons/ic_correct.png" class="right_icon">
                                                    <img src="assets/images/icons/ic_wrong.png" class="wrong_icon">
                                                </div>
                                            </div>
                                        </div>
                                    </ion-item>
                                    } -->

                                    @for (choice of question.choices; track choice) {
                                        <ion-item lines="none" class="animate__animated animate__fadeInUp selected"
                                        [ngClass]="{
                                            'rightAnswer': selectedChoice === choice && choice === question.correctAnswer,
                                            'wrongAnswer': selectedChoice === choice && choice !== question.correctAnswer,
                                            'selected': selectedChoice === choice
                                          }" [disabled]="question.hasAnswered" (click)="optionSelected(choice, question)">
                                            <div class="item_inner">
                                                <div class="input_box d-flex">
                                                    <h3>{{choice}}</h3>
                                                    <div class="icon_box end">
                                     @if (selectedChoice === choice && choice === question.correctAnswer) {
                                        <img src="assets/images/icons/ic_correct.png" class="right_icon">
                                     }
                                     @if (selectedChoice === choice && choice !== question.correctAnswer) {
                                        <img src="assets/images/icons/ic_wrong.png" class="wrong_icon">
                                     }
                                                    </div>
                                                </div>
                                            </div>
                                        </ion-item>
                                        }

                                </ion-list>
                            </div>
                        </ion-card>
                    </div>
                    <!-- End Sample Question -->
                </div>
            </swiper-slide>
            }
        </swiper-container>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-text-center">
            <ion-col size="6">
                <!-- <ion-button expand="block" class="custom-button">Button 1</ion-button> -->
                <ion-button mode="md" size="large" [disabled]="currentQuestionId >= 0" fill="solid" shape="block"
                    class="button prevButton btn-secondary" (click)="onSlidePrev()">
                    {{'PREVIOUS'}}
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button mode="md" size="large" fill="solid" shape="block" class="button nextButton btn-secondary"
                    (click)="onSlideNext()">
                    {{ currentQuestionId == questions.length -1 ? 'Complete' : 'NEXT'}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
}