ion-header ion-toolbar {
    // min-height: 80px !important;
    --background: var(--bg-color-secondary);
    ion-title {
        padding: 0 !important;
        .title_inner {
            position: relative;
            min-height: 70px;
            strong {
                //position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                font-weight: 500;
                width: 100%;
                max-width: calc(100% - 80px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: .9rem;
            }
            span {
                display: flex;
                background: var(--bg-color);
                border-radius: 50px;
                align-items: center;
                color: var(--text-white);
                height: 32px;
                font-size: 0.92rem;
                font-weight: 600;
                padding: 0 10px;
                min-width: 85px;
                img {
                    display: block;
                    width: 18px;
                    margin: auto;
                }
                cd-timer {
                    padding: 0 3px;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

ion-content {
    --background: var(--bg-color-secondary);
    .content-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: calc(100% - 150px);
            background: var(--bg-color);
        }
        &::after {
            content: "";
            position: absolute;
            top: -176px;
            left: -25%;
            right: -25%;
            width: calc(100% + 52%);
            height: 375px;
            background: var(--bg-color-secondary);
            border-radius: 0% 0 52% 52%;
            margin: 0 auto;
        }
    }
}

.sliderBox {
    position: relative;
}

.ion-slides {
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 99;
    .ion-slide {
        display: block;
        overflow: hidden;
        overflow-y: auto;
        text-align: initial;
        //background: var(--bg-white);
        border-radius: 20px;
        padding: 20px 20px;
        transform: scale(0.9);
        transition: all 0.5s;
        opacity: .7;
        ion-card {
            //background: var(--bg-white) !important;
            border-radius: 0;
            box-shadow: none;
            width: 100%;
            position: relative;
            z-index: 99;
            margin: 0;
            h3 {
                margin: 0;
                color: var(--text-dark);
                font-weight: 600;
                font-size: 1.8rem;
                margin-bottom: 10px;
            }
            p {
                margin: 0;
                color: var(--text-dark);
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 28px;
            }
            .form {
                margin: 0;
                width: 100%;
                ion-list {
                    padding-top: 30px;
                    ion-item {
                        width: 100%;
                        border-radius: 18px;
                        padding: 0;
                        --min-height: unset !important;
                        min-height: unset !important;
                        margin-bottom: 20px;
                        --ion-item-background: #ddd;
                        .item_inner {
                            .input_box {
                                background: none;
                                padding: 10px 20px;
                                border-radius: 18px;
                                min-height: 60px;
                                h3 {
                                    padding: 1px;
                                    //color: var(--text-dark);
                                    color: #3c3c3d;
                                    font-weight: 500;
                                    font-size: 1.2rem;
                                    margin-top: 8px;
                                }
                                .icon_box {
                                    display: block;
                                    min-width: 28px;
                                    min-height: 28px;
                                    position: relative;
                                    margin-left:16px;
                                    img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        width: 0;
                                        height: 0;
                                        transition: all .3s;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            width: 0;
                            height: 0;
                            margin: auto;
                            border-radius: 18px;
                            transition: all .5s;
                            opacity: .3;
                        }
                        &.wrongAnswer {
                            &::before {
                                background: #e68888;
                                width: 100%;
                                height: 100%;
                            }
                            .item_inner {
                                .input_box {
                                    border-color: #e68888;
                                    .icon_box {
                                        img {
                                            &.wrong_icon {
                                                width: 28px;
                                                height: 28px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.rightAnswer {
                            &::before {
                                background: #88e68b;
                                width: 100%;
                                height: 100%;
                            }
                            .item_inner {
                                .input_box {
                                    border-color: #88e68b;
                                    .icon_box {
                                        img {
                                            &.right_icon {
                                                width: 28px;
                                                height: 28px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .selected {
                        --ion-item-background: #344356;
                        .item_inner .input_box {
                            h3{
                                color: white;
                            }
                        }
                    }
                    ion-item[disabled] {
                        pointer-events: none;
                        opacity: 0.9;
                      }
                }
            }
        }
        &.swiper-slide-active {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.whiteText {
    color: white;
  }

ion-content {
    .button.btn {
        width: fit-content;
        margin: 0 auto;
        min-width: 170px;
        display: block;
        &.finishButton {
            display: none;
        }
    }
    &.disabled {
        .button.btn {
            &.nextButton {
                display: none;
            }
            &.finishButton {
                display: block;
            }
        }
    }
}

ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.centered-item {
    text-align: center;
    align-items: center;
}

.subjectIcon {
    display: block;
    width: 48px;
    margin: auto;
}
.quizTitle{
    font-size: 1.1rem;
    font-weight: 600;
}