<!-- Ng Working
<app-page-loader></app-page-loader>
<router-outlet></router-outlet> -->

<!-- Ionic Working-->
<ion-app>
  <app-page-loader></app-page-loader>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

<!-- <div *ngIf="isVisible" [@slideInOut]>
  <router-outlet></router-outlet>
</div> -->

<!--Animated Angularno
@if(isVisible){
  <div [@slideInOut]>
    <router-outlet></router-outlet>
  </div>
}
-->

<!-- Scroll not working <ion-app>
  <app-page-loader></app-page-loader>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app> -->

<!-- <ion-app>
  <app-page-loader></app-page-loader>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app> -->

<!-- <ion-app>
  <app-page-loader></app-page-loader>
  <router-outlet></router-outlet>
</ion-app> -->
