@if(meritList && meritList.length > 0){
    <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
      @for (merit of meritList; track merit) {
        <li class="merit-list">
          <img alt="image" class="msr-3 rounded-circle" width="48" [src]="merit.image ?? 'assets/images/users/user.jpg'">
          <div class="">
            <div class="media-title font-14 font-b-500">{{ merit.name }}</div>
            <div class="text-job text-muted mb-0 font-12">{{ merit.designationName }}</div>
             <!-- <p class="text-job text-muted mb-0 font-12">Merit Points : {{ merit.score }}</p> -->
          </div>
          <div class="ms-auto">
            <!-- <div class="media-title font-15 font-b-500">#{{ merit.rank }}</div> -->
            <span [ngClass]="'bg-orange'" class="label">{{merit.score}}%</span>
            <!-- <span class="badge bg-orange">{{merit.points}}</span> -->
          </div>
        </li>
      }
    </ul>
    }@else {
    <div class="no-data-container text-center">
    <img src="assets/images/icons/hinting.gif" class="loadingIcon" />
    <h6 class="col-grey">No Talent found here</h6>
    <small>Be the first to appear in the Leaderboard</small>
  </div>
    }