<div class="card">
  <div class="header">
    <h2>Add New Topic</h2>
  </div>
  <div class="body">
    <div class="example-container">
      <form class="register-form m-4" [formGroup]="topicForm" (ngSubmit)="onTopicFormSubmit()">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Topic Name</mat-label>
              <input matInput formControlName="title" required placeholder="Name of the topic">
              @if (topicForm.get('title')?.hasError('minLength')) {
              <mat-error>
                Topic title is too short
              </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Select Subject</mat-label>
              <mat-select formControlName="subject">
                @for (subject of subjects; track subject) {
                <mat-option value="{{subject}}">{{subject}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Parent Topic (Optional)</mat-label>
              <mat-select formControlName="parent">
                <mat-option>-- None --</mat-option>
                @for (group of topicGroups; track group) {
                <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                  @for (pokemon of group.pokemon; track pokemon) {
                  <mat-option [value]="pokemon.value">
                    {{pokemon.viewValue}}
                  </mat-option>
                  }
                </mat-optgroup>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Select Label</mat-label>
              <mat-select formControlName="label">
                <mat-option value="Beginner">Beginner</mat-option>
                <mat-option value="Intermediate">Intermediate</mat-option>
                <mat-option value="Advanced">Advanced</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" required
                placeholder="Short description of topic"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-checkbox class="example-margin" formControlName="is_published">Make this topic available
            </mat-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <button mat-flat-button class="btn-space" color="primary" [disabled]="!topicForm.valid">Submit</button>
            <button mat-raised-button color="warn" (click)="topicForm.reset()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>