<!--- Start Subject Tracker Card -->
<mat-card class="subjectCard hoverCard">
  <mat-card-content>

    <div class="row align-items-center">
      <div class="col-12 col-sm-6 text-center text-sm-start mb-2 mb-sm-0">
        <div class="d-flex align-items-center justify-content-center justify-content-sm-start">
          <img [src]="item?.image || 'assets/images/tech/placeholder.png'" alt="item?.title"
            class="subject-icon me-2" />
          <span class="cmSubHeading">{{ item?.title }}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-end">
        <div class="d-flex flex-column align-items-center align-items-sm-end">
          <app-course-progress [score]="item.score"></app-course-progress>
        </div>
      </div>
    </div>

    @if (item.attempted > 0) {
    <p class="m-b-0 m-t-0 font-12 d-flex align-items-center justify-content-center">
      <i class="material-icons me-2">flash_on</i> Beginner
      <span class="col-grey"> | </span> <i class="material-icons me-2">flare</i>
      Accuracy : {{item?.avgAccuracy}}%
    </p>
    }

    <div class="row">
      <div class="col-12">
        @if (item.numTrivia > 0) {
        <hr class="dim-divider">
        <p class="m-b-5 m-t-0 font-12 d-flex align-items-center justify-content-center">
          <i class="material-icons me-2">trending_up</i> Level up from the basics to advance
        </p>

        <div class="progress" style="height: 20px;width: 100%;margin-top:2px;">
          <!-- Easy -->
          <div class="progress-bar" [style.width]="getPercentage(item.numEasyTrivia) + '%'"
            role="progressbar" [attr.aria-valuenow]="item.numEasyTrivia" aria-valuemin="0" aria-valuemax="100">
            {{ item.numEasyTrivia }}
          </div>

          <!-- Intermediate -->
          <div class="progress-bar progress-bar-success" [style.width]="getPercentage(item.numIntTrivia) + '%'"
            role="progressbar" [attr.aria-valuenow]="item.numIntTrivia" aria-valuemin="0" aria-valuemax="100">
            {{ item.numIntTrivia }}
          </div>

          <!-- Advanced -->
          <div class="progress-bar progress-bar-dark" [style.width]="getPercentage(item.numAdvTrivia) + '%'"
            role="progressbar" [attr.aria-valuenow]="item.numAdvTrivia" aria-valuemin="0" aria-valuemax="100">
            {{ item.numAdvTrivia }}
          </div>
        </div>
        }@else {
        <p class="font-12">{{item.description}}</p>
        }
      </div>
      @if (item.attempted > 0) {
      <div class="col-12">
        <hr class="dim-divider">
         <p class="m-b-0 m-t-5 font-12 d-flex align-items-center justify-content-center">
          <i class="material-icons me-2">track_changes</i> Your Practice Summary
        </p>
        <div class="progress" style="height: 20px;width: 100%;margin-top:2px;">
          <!-- Easy -->
          <div class="progress-bar" [style.width]="getAttemptPercentage(item.attemptedEasy) + '%'"
            role="progressbar" [attr.aria-valuenow]="item.attemptedEasy" aria-valuemin="0" aria-valuemax="100">
            {{ item.attemptedEasy }}
          </div>

          <!-- Intermediate -->
          <div class="progress-bar progress-bar-success"
            [style.width]="getAttemptPercentage(item.attemptedMedium) + '%'" role="progressbar"
            [attr.aria-valuenow]="item.attemptedMedium" aria-valuemin="0" aria-valuemax="100">
            {{ item.attemptedMedium }}
          </div>

          <!-- Advanced -->
          <div class="progress-bar progress-bar-dark" [style.width]="getAttemptPercentage(item.attemptedHard) + '%'"
            role="progressbar" [attr.aria-valuenow]="item.attemptedHard" aria-valuemin="0" aria-valuemax="100">
            {{ item.attemptedHard }}
          </div>
        </div>
      </div>
      }
    </div>


    <mat-card-footer>
      @if (item.coverage > 0) {
      <hr class="dim-divider">
      <ul class="list-unstyled m-b-10 m-t-10">
        <li>
          <div class="mb-2 d-flex justify-content-between">
            <span class="progress-label">Completed</span>
            <span class="progress-percent label label-success">{{item.coverage}}%</span>
          </div>
          <div class="progress skill-progress w-100">
            <div class="progress-bar progress-bar-success" [style.width]="item.coverage + '%'" role="progressbar"
              [attr.aria-valuenow]="item.coverage" aria-valuemin="0" aria-valuemax="100">
            </div>

            <div class="progress-bar progress-bar-success" [style.width]="item.coverage + '%'" role="progressbar"
              [attr.aria-valuenow]="item.coverage" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </li>
      </ul>
      }
      <hr class="dim-divider">
      <div class="d-flex flex-column flex-sm-row justify-content-center text-center">
        <button (click)="onViewPath()" mat-stroked-button color="primary" class="mb-2 mb-sm-0 me-sm-2">
          Explore
        </button>
        @if (item.numTrivia > 0) {
        <button (click)="onTakeQuiz()" mat-flat-button color="accent">
          {{ item.attempted > 0 ? 'Next Quiz' : 'Test Skills'}}
        </button>
        }
      </div>

    </mat-card-footer>
  </mat-card-content>
</mat-card>
<!--- End Subject Tracker Card -->