<!--- Start Subject Tracker Card -->
<mat-card class="subjectCard hoverCard">
  <mat-card-content>

    <div class="row align-items-center">
      <div class="col-12 col-sm-6 text-center text-sm-start mb-2 mb-sm-0">
        <div class="d-flex align-items-center justify-content-center justify-content-sm-start">
          <img [src]="item?.image || 'assets/images/tech/placeholder.png'" alt="item?.title"
            class="subject-icon me-2" />
          <span class="cmSubHeading">{{ item?.title }}</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-end">
        <div class="d-flex flex-column align-items-center align-items-sm-end">
          <app-course-progress [score]="item.score"></app-course-progress>
        </div>
      </div>
    </div>

    <hr class="dim-divider">
    @if (item.myAllAttempts > 0) {
    <p class="font-12">Obtained {{item.score}}% score with an accuracy of {{item.accuracy}}%. {{100 - item.coverage}}%
      assessment to complete.</p>
    }@else{
    <p class="font-12">{{item.description}}</p>
    }

    <!-- <hr class="dim-divider"> -->
    <mat-card-footer>
      <ul class="list-unstyled m-b-10 m-t-10">
        <li>
          <div class="mb-2 d-flex justify-content-between">
            <span class="progress-label">Coverage</span>
            <span class="progress-percent label label-success">{{item.coverage}}%</span>
          </div>
          <div class="progress skill-progress w-100">
            <div class="progress-bar progress-bar-success" [style.width]="item.coverage + '%'" role="progressbar"
              [attr.aria-valuenow]="item.coverage" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </li>
      </ul>
      <hr class="dim-divider">
      <div class="d-flex flex-column flex-sm-row justify-content-center text-center">
        <button (click)="onViewPath()" mat-stroked-button color="primary" class="mb-2 mb-sm-0 me-sm-2">
          Explore
        </button>

        <button (click)="onTakeQuiz()" mat-flat-button color="accent">
          Take Quiz
        </button>
      </div>

    </mat-card-footer>
  </mat-card-content>
</mat-card>
<!--- End Subject Tracker Card -->