<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Form Controls'" [items]="['Form']" [active_item]="'Form Controls'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <!-- Create Topic Form -->
        <app-subject-form></app-subject-form>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
       <!-- Create Topic Form -->
        <app-topic-form></app-topic-form>
      </div>
    </div>
 
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>File Upload</h2>
          </div>
          <div class="body">
            <div class="example-container">
              <form [formGroup]="fileUploadForm">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                    <label>Upload</label>
                    <app-file-upload formControlName="uploadFile"></app-file-upload>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Which of these is not a feature of JavaScript?</h2>
          </div>
          <div class="body">
            @for(option of multiOptions;track option){
            <section class="example-section">
              <mat-checkbox class="example-margin">{{option}}</mat-checkbox>
            </section>
            }
            <!-- <p class="example-h4">Need some hint? </p> -->
            <section class="example-section">
              <button mat-fab extended>
                <mat-icon>check</mat-icon>
                Submit Answer
              </button>
            </section>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Which type of language is JavaScript?</h2>
          </div>
          <div class="body">
            <label id="example-radio-group-label">Pick the correct answer</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="questionOptions">
              @for (option of options; track option) {
              <mat-radio-button class="example-radio-button ms-0" [value]="option">
                {{option}}
              </mat-radio-button>
              }
            </mat-radio-group>
            <div>Your answer is: {{questionOptions}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>