/* Swiper pagination bullets */
:host ::ng-deep .swiper-pagination-bullet {
  background-color: var(--cm-brand);
  opacity: 0.4;
  width: 8px;
  height: 8px;
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background-color: var(--cm-brand);
  opacity: 1;
}
