<div class="goalPath">
  <h3 class="font-20 text-center" [ngStyle]="{'color':color}">{{title}}</h3>
  <div class="m-t-10 m-b-10">
  <!-- <swiper-container #swiperEx [config]="swiperConfig" 
  [breakpoints]="breakpoints"
  slides-per-view="auto" 
  [pagination]="pagination" 
  space-between="10"> -->
    <swiper-container #swiperEx [config]="swiperConfig" 
  slides-per-view="auto"
  space-between="10">
  <!-- <div class="swiper-wrapper"> -->
    @for (topic of topicsList; let i = $index; track i) {
      <swiper-slide class="stepper-slide">
      <mat-card class="goalCard">
      <mat-card-content>
        <!-- Step Circle -->
        <div class="step-circle mb-2 d-flex justify-content-center align-items-center" [ngStyle]="{'background-color':color}">
          {{ i + 1 }}
        </div>

        <!-- Topic Info -->
        <h6 class="text-truncate" >{{ topic.title }}</h6>
        <hr class="dim-divider">
        <ul>
          <!-- <li>
            <div class="mb-2">
              <span class="progress-label">Coverage</span>
              <span class="float-end progress-percent label m-b-5" [ngClass]="'bg-dark text-white'">{{ topic.progress
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar" [ngClass]="'bg-dark'" [style.width]="topic.progress + '%'" role="progressbar"
                [attr.aria-valuenow]="topic.progress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li> -->
<li>
            <div class="mb-2">
              <span class="progress-label">Coverage</span>
              <span class="float-end progress-percent label m-b-5" [ngClass]="'text-white'" [style.backgroundColor]="color">{{ topic.progress
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar"  [style.backgroundColor]="color" [style.width]="topic.progress + '%'" role="progressbar"
                [attr.aria-valuenow]="topic.progress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
    </swiper-slide>
    }
    <!-- Custom navigation buttons at the bottom -->
      <!-- <div class="swiper-button-prev-custom">Previous</div>
      <div class="swiper-button-next-custom">Next</div>
    </div> -->
</swiper-container>
  </div>
</div>