<swiper-container #swiperEx [config]="swiperConfig" slides-per-view="1" space-between="10">
  <!-- <div class="swiper-wrapper"> -->
  @for (topic of topics; let i = $index; track i) {
  <swiper-slide class="stepper-slide">
    <mat-card class="card">
      <mat-card-content>
        <!-- Step Circle -->
        <div class="step-circle mb-2 m-t-10 d-flex justify-content-center align-items-center"
          [ngStyle]="{'background-color':color}">
          {{ i + 1 }}
        </div>
        <!-- Topic Info -->
        <h4 class="text-center cmSubHeading m-t-0">{{ topic.title }}</h4>
        <h5 class="text-center font-12 col-grey">Milestone - {{ i+1 }} / {{topics.length}}</h5>
        <hr class="dim-divider">

        <ul class="list-unstyled p-r-10 p-l-10">
          <li>
            <div class="mb-2">
              <span class="progress-label">Milestone Score</span>
              <span class="float-end progress-percent label m-b-5 text-white" [ngClass]="'label-success text-white'">{{
                topic.score
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="topic.score + '%'"
                role="progressbar" [attr.aria-valuenow]="topic.score" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li>
            <div class="mb-2">
              <span class="progress-label">Accuracy</span>
              <span class="float-end progress-percent label m-b-5" [ngClass]="'label-success text-white'">{{
                topic.avgAccuracy
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar" [ngClass]="'progress-bar-success'" [style.width]="topic.avgAccuracy + '%'"
                role="progressbar" [attr.aria-valuenow]="topic.avgAccuracy" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </li>
          <li>
            <div class="mb-2">
              <span class="progress-label">Completion</span>
              <span class="float-end progress-percent label m-b-5" [ngClass]="'bg-dark text-white'">{{ topic.coverage
                }}%</span>
            </div>
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar" [ngClass]="'bg-dark'" [style.width]="topic.coverage + '%'" role="progressbar"
                [attr.aria-valuenow]="topic.coverage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
        <hr class="dim-divider">
        <div class="text-center container-auth-form-btn m-b-10">
          <button mat-stroked-button color="primary" class="m-b-0" (click)="onTakeNextQuiz(topic)">
           🎯 Take Next Challenge
          </button>
          <!-- <p class="text-center font-12 col-grey m-t-5 m-b-5">OR</p>
          <button mat-flat-button color="primary" class="m-t-0" (click)="onTakeNextQuiz(null)">
            Test {{title}} Mastery
          </button> -->
        </div>

      </mat-card-content>
    </mat-card>
  </swiper-slide>
  }
</swiper-container>