.goalPath {
  margin-top: 20px;
  margin-bottom: 10px;
}

.swiper-container {
  position: relative;
  /* Essential for positioning child elements */
  /* Other container styles */
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  bottom: 10px;
  /* Adjust as needed */
  /* Further styling for appearance and positioning */
}

.swiper-button-prev-custom {
  left: 10px;
  /* Adjust as needed */
}

.swiper-button-next-custom {
  right: 10px;
  /* Adjust as needed */
}

.mySwiper {
  width: 100%;
  padding: 10px 0;
}

.stepper-slide {
  width: auto;
}

.step-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fd7e14;
  color: white;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.goalPagIcon {
  width: 24px;
  height: 24px;
  padding: 20px !important;
  background-color: #055ebc;
  color: white;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  // margin: 0 auto;
}

.goalCard {
  //width: auto;
  width: min-content;
  min-width: 160px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  will-change: transform;
  margin-bottom: 50px;
}

.goalCard:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 21px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* course goal tracker pagination nav */
:host ::ng-deep .swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
  width: 20px;
  height: 20px;
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background-color: blue;
}

/* Optional: Mobile stacking */
@media (max-width: 768px) {
  // .stepper-item {
  //   width: 100% !important;
  //   margin-right: 0 !important;
  //   margin-bottom: 1rem;
  // }
}