
   // Mobile sidebar 


@media (max-width: 768px) {

  body.overlay-open::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(6px);
    z-index: 998;
  }

  body.overlay-open .sidebar {
    transform: translateX(0);
  }

  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 85vw;
    max-width: 320px;
    height: calc(100vh - 60px);
    background: #fff;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  body.ls-closed .sidebar {
    transform: translateX(-100%);
  }
}
@media (max-width: 991px) {

  body.overlay-open .sidebar .menu-text,
  body.overlay-open .sidebar span,
  body.overlay-open .sidebar a span {
    display: inline !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

}
