:host ::ng-deep .column-filter .mat-mdc-select-arrow {
  display: none;
}
:host ::ng-deep .advance-table .mat-mdc-header-cell {
  font-weight: 500;
}

::ng-deep .mat-col-question {
  min-width: min(50%, 400px) !important;
}

.full-text{
  white-space: normal;
  word-wrap: break-word;
  max-height: 100px;
  overflow: auto; 
  padding: 8px;
}

::ng-deep .mat-col-subject {
  width: 50px;
}

::ng-deep .mat-col-type {
  width: 10%;
}

::ng-deep .mat-col-status {
  width: 10%;
}

.col-date {
  width: 15%;
}

.col-actions {
  width: 20%;
}
