:host ::ng-deep .column-filter .mat-mdc-select-arrow {
  display: none;
}
:host ::ng-deep .advance-table .mat-mdc-header-cell {
  font-weight: 500;
}

::ng-deep .mat-col-question {
  min-width: min(50%, 400px) !important;
}

.full-text{
  white-space: normal;
  word-wrap: break-word;
  max-height: 100px;
  overflow: hidden;
}

.bold-text{
  font-size: 1rem;
  font-weight: 500;
  display: block;
}
.col-date {
  width: 15%;
}

.col-actions {
  width: 20%;
}

.table-filter-panel{
  width: min(90%, 500px);
  height: 300px;
  margin: 0px auto;
  vertical-align: middle;
}
