:host ::ng-deep .column-filter .mat-mdc-select-arrow {
  display: none;
}
:host ::ng-deep .advance-table .mat-mdc-header-cell {
  font-weight: 500;
}

::ng-deep .mat-col-title {
  min-width: min(50%, 400px) !important;
}

.full-text{
  white-space: normal;
  word-wrap: break-word;
  max-height: 100px;
  overflow: auto; 
  padding: 8px;
}

