/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

:root {
  --primary: #80d8ff;
  --secondary: #88e68b;
  --bg-color: #833cf6;
  --bg-color-secondary: #461597;
  --profile-bg: #ffd471;
  --bg-white: #fff;
  --transparent: rgba(0, 0, 0, 0);
  --text-dark: #3c3c3d;
  --text-light: #c8c8cf;
  --text-light2: #acafaf;
  --text-white: #fff;
  --text-black: #000;
  --border-line-color: #eaeaf1;
  --input-bg: #fcfcfc;
  --item-bg: #eff7fb;
}

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

//@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*
::ng-deep .mat-chip {
    font-size: 12px; 
    padding: 4px 8px;
    height: 20px;
  }
  
  ::ng-deep .mat-chip .mat-chip-trailing-icon {
    font-size: 16px;
  }
*/