<div class="selected-option-detail-modal">
    <div class="icon-container text-center">
        <img [src]="data.icon" class="result-icon" />
    </div>
    <h2 class="text-center font-20" [ngClass]="{'correct': data.isCorrect, 'wrong': !data.isCorrect}">
        {{ data.message }}
    </h2>
    @if (data.isCorrect) {
    @switch (rewardMessageIndex) {
    @case (0) {
    <p class="font-11 text-center">⭐{{data?.question.marks}} {{data?.question.marks > 1 ? 'marks' : 'mark'}} awarded</p>
    }
    @case (1) {
    <p class="font-11 text-center">+{{data?.question.marks}} {{data?.question.marks > 1 ? 'Marks' : 'Mark'}} Earned ⭐
    </p>
    }
    @case (2){
    <p class="font-11 text-center">🔥 Awesome! +{{data?.question.marks}} {{data?.question.marks > 1 ? 'Marks' : 'Mark'}}
    </p>
    }
    @case (3) {
    <p class="font-11 text-center">🧠 You got +{{data?.question.marks}} {{data?.question.marks > 1 ? 'Marks' : 'Mark'}}
    </p>
    }
    @case (4) {
    <p class="font-11 text-center">🏅 {{data?.question.marks}} {{data?.question.marks > 1 ? 'Marks' : 'Mark'}} Achieved
    </p>
    }
    @default {
    <p class="font-11 text-center">⭐{{data?.question.marks}} {{data?.question.marks > 1 ? 'marks' : 'mark'}} awarded</p>
    }
    }
    }
    @if (!data.isCorrect && data.question?.answer && quizConfig.showAnswers) {
    <div class="answer-section fade-in-no-shift" [class.visible]="answerVisible">
        <hr class="dim-divider">
        <h6 class="col-dark m-t-0 m-b-2">❓{{data.question?.question}}</h6>
        <p class="font-11 m-b-10">🎓 Level: {{data.question?.level}}</p>
        <!-- <p class="font-14 m-b-0">Answer:</p> -->
        <p class="cmSubHeading m-t-0">💡{{data?.question?.answer}}</p>
    </div>
    }
    <div class="actions text-center mt-3 mb-3">
         <hr class="dim-divider">
        <button mat-stroked-button color="primary" class="text-center" (click)="onNext()">Next Question
            <mat-icon>keyboard_arrow_right</mat-icon> </button>
    </div>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div>