<div class="responsive_table">
    <table mat-table [dataSource]="datasource" class="mat-cell advance-table">

        <!-- user Image Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> <span>Name</span></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <img [src]="user.image" class="table-img" alt="image" /><span>
                    {{user.name}}</span></mat-cell>
        </ng-container>

        <!-- planClasss Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let user">
                <div [ngClass]="user.planClass" class="badge">{{user.status}}</div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

</div>